## 3.1 ì‹œë¦¬ì¦ˆ ì†Œê°œ

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pandas import Series

## 3.2 ì‹œë¦¬ì¦ˆ ìƒì„±

In [5]:
from pandas import Series

data = [10, 20, 30]
s = Series(data)
print(s)

0    10
1    20
2    30
dtype: int64

In [6]:
from pandas import Series
import numpy as np

data = np.arange(5)
s = Series(data)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
data = ["ì‹œê°€", "ê³ ê°€"]
s = Series(data)
print(s)

0    ì‹œê°€
1    ê³ ê°€
dtype: object

In [8]:
s = Series(['samsung', 81000])
print(s)

0    samsung
1      81000
dtype: object

## 3.3 ì‹œë¦¬ì¦ˆ ì¸ë±ìŠ¤

In [9]:
data = [1000, 2000, 3000]
s = Series(data)
print(s.index)
print(s.index.to_list())

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [10]:
data = [1000, 2000, 3000] 
s = Series(data)
s.index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
print(s)

ë©”ë¡œë‚˜     1000
êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

In [11]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]

s = Series(data, index)
print(s)

ë©”ë¡œë‚˜     1000
êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

In [13]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]

s = Series(index=index, data=data)
print(s)

ë©”ë¡œë‚˜     1000
êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

In [14]:
k = [1000, 2000, 3000]
v = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]

s = Series(data=v, index=k)
print(s)

1000     ë©”ë¡œë‚˜
2000     êµ¬êµ¬ì½˜
3000    í•˜ê²ë‹¤ì¦ˆ
dtype: object

In [15]:
s = Series(data, index)
s = Series(data, index=index)
s = Series(data=data, index=index)
s = Series(index=index, data=data)

In [16]:
data = [1000, 2000, 3000]
index = ['ë©”ë¡œë‚˜', 'êµ¬êµ¬ì½˜', 'í•˜ê²ë‹¤ì¦ˆ']
s = Series(data=data, index=index)
s2 = s.reindex(["ë©”ë¡œë‚˜", "ë¹„ë¹„ë¹…", "êµ¬êµ¬ì½˜"])
print(s2)

ë©”ë¡œë‚˜    1000.0
ë¹„ë¹„ë¹…       NaN
êµ¬êµ¬ì½˜    2000.0
dtype: float64

In [17]:
print(s2.fillna(0))

ë©”ë¡œë‚˜    1000.0
ë¹„ë¹„ë¹…       0.0
êµ¬êµ¬ì½˜    2000.0
dtype: float64

In [18]:
print(s.reindex(["ë©”ë¡œë‚˜", "ë¹„ë¹„ë¹…", "êµ¬êµ¬ì½˜"], fill_value=0))

ë©”ë¡œë‚˜    1000
ë¹„ë¹„ë¹…       0
êµ¬êµ¬ì½˜    2000
dtype: int64

In [19]:
price = [42500, 42550, 41800, 42550, 42650]
date = ["2019-a05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(price, date)
print(s)

2019-a05-31    42500
2019-05-30     42550
2019-05-29     41800
2019-05-28     42550
2019-05-27     42650
dtype: int64

In [20]:
data = {
    "2019-05-31" : 42500,
    "2019-05-30" : 42550,
    "2019-05-29" : 41800,
    "2019-05-28" : 42550,
    "2019-05-27" : 42650
}
s = Series(data)

In [21]:
print(s.index)
print(s.index.dtype)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
object

In [22]:
print(s.values)

[42500 42550 41800 42550 42650]

## 3.4 ì‹œë¦¬ì¦ˆ ì¸ë±ì‹±

In [23]:
data = [1000, 2000, 3000]
s = Series(data=data)

print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])

1000
2000
3000
3000

In [24]:
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
# print(s.loc[-1])   # ì—ëŸ¬

1000
2000
3000

In [26]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)
 
print(s.iloc[0])
print(s.loc['ë©”ë¡œë‚˜'])

1000
1000

In [27]:
print(s['ë©”ë¡œë‚˜'])
print(s[0])

1000
1000

C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\870197432.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [25]:
s1 = Series([10, 20, 30])
s2 = Series([10, 20, 30], index=[1, 2, 3])
print(s1[0])
# print(s2[0])    # ì—ëŸ¬

10

In [26]:
s3 = Series([10, 20, 30], index=['a', 'b', 'c'])
print(s3[0])

10

In [71]:
print(s3.index[ 0 ])
print(s3.index[ -1 ])

a
c

## 3.5 ì‹œë¦¬ì¦ˆ ìŠ¬ë¼ì´ì‹±

In [40]:
import pandas as pd

# 1) ê°„ë‹¨í•œ Series ë§Œë“¤ê¸°
# TODO: [10, 20, 30] ë°ì´í„°ë¥¼ ë‹´ì€ Seriesë¥¼ ë§Œë“¤ì–´ë³´ì„¸ìš”.
s = pd.Series([10, 20, 30])
print(s)

# 2) ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•´ë³´ê¸°
# TODO: ['a', 'b', 'c'] ë¥¼ ì¸ë±ìŠ¤ë¡œ ë¶™ì—¬ì„œ Seriesë¥¼ ë‹¤ì‹œ ë§Œë“¤ì–´ë³´ì„¸ìš”.
s2 = pd.Series(index=['a', 'b', 'c'], data=[10, 20, 30] )
print(s2)

# 3) íŠ¹ì • ê°’ ì„ íƒ
# TODO: s2ì—ì„œ 'b' ì¸ë±ìŠ¤ì˜ ê°’ì„ ì„ íƒí•´ë³´ì„¸ìš”.
val_b = s2['b']
print(val_b)

# 4) ì¡°ê±´ ì—°ì‚°
# TODO: s2ì—ì„œ ê°’ì´ 15ë³´ë‹¤ í° í•­ëª©ë§Œ ê³¨ë¼ë³´ì„¸ìš”.
cond = s2 > 15
print(s2.loc[cond])

# 5) ë©”ì„œë“œ ì‚¬ìš©
# TODO: s2ì˜ í•©ê³„ì™€ í‰ê· ì„ êµ¬í•´ë³´ì„¸ìš”.
sum_val = s2.sum()
mean_val = s2.mean()
print(sum_val)
print(mean_val)

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
20
b    20
c    30
dtype: int64
60
20.0

In [28]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)

print(s.iloc[0:2])

ë©”ë¡œë‚˜    1000
êµ¬êµ¬ì½˜    2000
dtype: int64

In [29]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)

print(s.loc['ë©”ë¡œë‚˜':'êµ¬êµ¬ì½˜'])

ë©”ë¡œë‚˜    1000
êµ¬êµ¬ì½˜    2000
dtype: int64

In [30]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)

indice = [0, 2]
print(s.iloc[ indice ])
print(s.iloc[ [0, 2] ])

ë©”ë¡œë‚˜     1000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64
ë©”ë¡œë‚˜     1000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

In [32]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)

indice = ["ë©”ë¡œë‚˜", "í•˜ê²ë‹¤ì¦ˆ"]
print(s.loc[ indice ])
print(s.loc[ ["ë©”ë¡œë‚˜", "í•˜ê²ë‹¤ì¦ˆ"] ])

ë©”ë¡œë‚˜     1000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64
ë©”ë¡œë‚˜     1000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

## 3.6 ì‹œë¦¬ì¦ˆ ìˆ˜ì •/ì¶”ê°€/ì‚­ì œ

In [46]:
import pandas as pd

# ì—°ìŠµìš© Series (ì¬ê³  ìˆ˜ëŸ‰)
s = pd.Series([10, 20, 15], index=["apple", "banana", "cherry"])
print("ì›ë³¸ Series:\n", s)

# =======================
# 1) ìˆ˜ì •
# =======================
# TODO 1-1: 'banana'ì˜ ê°’ì„ 25ë¡œ ìˆ˜ì •í•˜ì„¸ìš”.
s = s.rename(index={"banana" : 25})

# TODO 1-2: ì—¬ëŸ¬ ê°œ ìˆ˜ì •í•˜ê¸° â†’ 'apple'=12, 'cherry'=18ë¡œ ìˆ˜ì •í•˜ì„¸ìš”.
s = s.rename(index={"apple" : 12, "cherry" : 18})

# =======================
# 2) ì¶”ê°€
# =======================
# TODO 2-1: 'date'=9ë¥¼ ìƒˆë¡œ ì¶”ê°€í•˜ì„¸ìš”.
s['date'] = 9
print("ì›ë³¸ Series:\n", s)

# TODO 2-2: ì—¬ëŸ¬ ê°œ ì¶”ê°€í•˜ê¸° â†’ 'elderberry'=7, 'fig'=11 ì¶”ê°€
s['elderberry'] = 7
s['fig'] = 11
# =======================
# 3) ì‚­ì œ
# =======================
# TODO 3-1: 'banana' í•­ëª©ì„ ì‚­ì œí•œ ìƒˆë¡œìš´ Seriesë¥¼ ë§Œë“¤ì–´ë³´ì„¸ìš”.
print(s)
v1 = pd.Series(index=["apple", "cherry"], data= [10, 15])
# TODO 3-2: ['apple','fig'] ë‘ ê°œ í•­ëª©ì„ í•œ ë²ˆì— ì‚­ì œí•´ë³´ì„¸ìš”.
s = s.reindex(["date","elderberry"])
s

ì›ë³¸ Series:
 apple     10
banana    20
cherry    15
dtype: int64
ì›ë³¸ Series:
 12      10
25      20
18      15
date     9
dtype: int64
12            10
25            20
18            15
date           9
elderberry     7
fig           11
dtype: int64

date          9
elderberry    7
dtype: int64

In [45]:
data = [1000, 2000, 3000]
index = ["ë©”ë¡œë‚˜", "êµ¬êµ¬ì½˜", "í•˜ê²ë‹¤ì¦ˆ"]
s = Series(data=data, index=index)

s.loc['ë©”ë¡œë‚˜'] = 500          # ê°’ ìˆ˜ì •
print(s)

ë©”ë¡œë‚˜      500
êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
dtype: int64

In [46]:
s.iloc[0] = 500            # iloc ì—°ì‚° ì‚¬ìš©
s['ë©”ë¡œë‚˜'] = 500          # [ ] ê¸°í˜¸ ì‚¬ìš©

In [47]:
s.loc['ë¹„ë¹„ë¹…'] = 500          # ê°’ ì¶”ê°€ 
print(s)

ë©”ë¡œë‚˜      500
êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
ë¹„ë¹„ë¹…      500
dtype: int64

In [42]:
print(s.drop('ë©”ë¡œë‚˜'))

êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
ë¹„ë¹„ë¹…      500
dtype: int64

In [48]:
s = s.drop('ë©”ë¡œë‚˜')
print(s)

êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
ë¹„ë¹„ë¹…      500
dtype: int64

In [49]:
s

êµ¬êµ¬ì½˜     2000
í•˜ê²ë‹¤ì¦ˆ    3000
ë¹„ë¹„ë¹…      500
dtype: int64

In [51]:
s.iloc[ : 2] = 100
print(s)

êµ¬êµ¬ì½˜     100
í•˜ê²ë‹¤ì¦ˆ    100
ë¹„ë¹„ë¹…     500
dtype: int64

## 3.7 ì‹œë¦¬ì¦ˆ ì—°ì‚°

In [47]:
ì² ìˆ˜ = Series([10, 20, 30], index=['NAVER', 'SKT', 'KT'])
ì˜í¬ = Series([10, 30, 20], index=['SKT', 'KT', 'NAVER'])
ê°€ì¡± = ì² ìˆ˜ + ì˜í¬
print(ê°€ì¡±)

KT       60
NAVER    30
SKT      30
dtype: int64

In [48]:
print(ì² ìˆ˜ * 10)

NAVER    100
SKT      200
KT       300
dtype: int64

In [51]:
high = Series([42800, 42700, 42050, 42950, 43000])
low = Series([42150, 42150, 41300, 42150, 42350])

diff = high - low
print(diff)

0    650
1    550
2    750
3    800
4    650
dtype: int64

In [52]:
print(diff.max())
print(max(diff))

800
800

In [53]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
diff = high - low
print(diff)

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

In [54]:
max_idx = 0
max_val = 0

for i in range(len(diff)):
    if diff[i] > max_val:
        max_val = diff[i]
        max_idx = i

print(max_idx)
print(diff.index[max_idx])

3
6/4

C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\1955845044.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if diff[i] > max_val:
C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\1955845044.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  max_val = diff[i]

In [55]:
print(diff.idxmax())
print(diff.idxmin())

6/4
6/2

In [56]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = Series([42800, 42700, 42050, 42950, 43000], index=date)
low = Series([42150, 42150, 41300, 42150, 42350] , index=date)
profit = high / low
print(profit)

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

In [ ]:
print( profit.cumprod( ) )

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64

In [57]:
print( profit.cumprod( ).iloc[ -1 ] )

1.0836101509172456

In [58]:
data = {
    "ì‚¼ì„±ì „ì": "ì „ê¸°,ì „ì",
    "LGì „ì": "ì „ê¸°,ì „ì",
    "í˜„ëŒ€ì°¨": "ìš´ìˆ˜ì¥ë¹„",
    "NAVER": "ì„œë¹„ìŠ¤ì—…",
    "ì¹´ì¹´ì˜¤": "ì„œë¹„ìŠ¤ì—…"
}
s = Series(data)

In [59]:
print(s.unique())

['ì „ê¸°,ì „ì' 'ìš´ìˆ˜ì¥ë¹„' 'ì„œë¹„ìŠ¤ì—…']

## 3.8 ì‹œë¦¬ì¦ˆì™€ ë§µ

In [60]:
from pandas import Series
s = Series(["1,234", "5,678", "9,876"])
print( int(s) )

TypeError: cannot convert the series to <class 'int'>

In [61]:
def remove_comma(x) :
    print(x, 'in function')
    return x

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

1,234 in function
5,678 in function
9,876 in function
0    1,234
1    5,678
2    9,876
dtype: object

In [62]:
from pandas import Series

def remove_comma(x) :
    return int(x.replace(",", ""))

s = Series(["1,234", "5,678", "9,876"])
result = s.map(remove_comma)
print(result)

0    1234
1    5678
2    9876
dtype: int64

In [63]:
def is_greater_than_5000(x):
    if x > 5000:
        return "í¬ë‹¤"
    else:
        return "ì‘ë‹¤"

s = Series([1234, 5678, 9876])
s = s.map(is_greater_than_5000)
print(s)

0    ì‘ë‹¤
1    í¬ë‹¤
2    í¬ë‹¤
dtype: object

## 3.9 ì‹œë¦¬ì¦ˆ í•„í„°ë§

In [65]:
from pandas import Series

data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = Series(data=data, index=index)
cond = s > 42000
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [66]:
print(s[cond])

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [67]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)

cond = close > open
print(cond)

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool

In [68]:
cond = close > open
print(close[cond])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [69]:
print(close[close > open])

2019-05-30    42550
2019-05-27    42650
dtype: int64

In [70]:
print(close.index[close > open])
print(close[close > open].index)

Index(['2019-05-30', '2019-05-27'], dtype='object')
Index(['2019-05-30', '2019-05-27'], dtype='object')

In [71]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = Series(data=open, index=index)
close = Series(data=close, index=index)
diff = close - open
print(diff[close > open])

2019-05-30    350
2019-05-27    150
dtype: int64

## 3.10 ì •ë ¬ ë° ìˆœìœ„

In [73]:
from pandas import Series

data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s)

# ì •ë ¬ (ì˜¤ë¦„ì°¨ìˆœ)
s1 = s.sort_values()
print(s1)

# ì •ë ¬ (ë‚´ë¦¼ì°¨ìˆœ)
s2 = s.sort_values(ascending=False)
print(s2)

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64
000020     2.0
000010     3.1
000040     5.1
000030    10.1
dtype: float64
000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [74]:
data = [3.1, 2.0, 10.1, 3.1]
index = ['000010', '000020', '000030', '000040']
s = Series(data=data, index=index)
print(s.rank())

000010    2.5
000020    1.0
000030    4.0
000040    2.5
dtype: float64

In [97]:
import pandas as pd

# ì—°ìŠµìš© ë°ì´í„° (ê³¼ì¼ ê°€ê²©)
s = pd.Series([1200, 2500, 1800, 600, 2200],
              index=["apple", "banana", "cherry", "date", "elderberry"])
# print("ì›ë³¸ Series:\n", s)

# =======================
# 1) ì¸ë±ì‹±
# =======================
# TODO 1-1: 'banana' ê°€ê²©ì„ ì„ íƒí•˜ì„¸ìš”.
v1 = s['banana']
# print(v1)

# TODO 1-2: ['apple','cherry'] ì„ íƒí•˜ì„¸ìš”.
v2 = s.loc[['apple','cherry']]
# print(v2)
# =======================
# 2) ìŠ¬ë¼ì´ì‹±
# =======================
# TODO 2-1: 'banana'ë¶€í„° 'date'ê¹Œì§€ ë¼ë²¨ë¡œ ìŠ¬ë¼ì´ì‹±í•˜ì„¸ìš”.
v3 = s.loc["banana" : "date"]
# print(v3)
# TODO 2-2: ì²˜ìŒ 3ê°œë§Œ ilocìœ¼ë¡œ ì„ íƒí•˜ì„¸ìš”.
v4 = s.iloc[:3]
# print(v4)

# =======================
# 3) ìˆ˜ì • / ì¶”ê°€ / ì‚­ì œ
# =======================
# TODO 3-1: 'banana' ê°€ê²©ì„ 2600ìœ¼ë¡œ ìˆ˜ì •í•˜ì„¸ìš”.
s['banana'] = 2600

# TODO 3-2: 'fig'=1500ì„ ì¶”ê°€í•˜ì„¸ìš”.
s['fig'] = 1500

# TODO 3-3: 'date'ë¥¼ ì‚­ì œí•´ ìƒˆë¡œìš´ Series v5ë¥¼ ë§Œë“œì„¸ìš”.
v5 = s.drop('date')
# print(v5)

# =======================
# 4) ì—°ì‚°
# =======================
# TODO 4-1: ëª¨ë“  ê°’ì— +100ì„ ë”í•˜ì„¸ìš”.
v6 = v5 + 100
# print(v6)
# TODO 4-2: ëª¨ë“  ê°’ì— 10% ì¦ê°€(Ã—1.1)ë¥¼ ì ìš©í•˜ì„¸ìš”.
v7 = v6 * 1.1
# print(v7)
# =======================
# 5) map
# =======================
# TODO 5-1: ê°’ì´ 1000 ì´ìƒì´ë©´ "HIGH", ì•„ë‹ˆë©´ "LOW"ë¡œ ë³€í™˜í•˜ì„¸ìš”.
for i in range(len(v7)):
    if v7[i] >= 1000:
        v7[i] = "HIGH"
    else:
        v7[i] = "LOW"
print(v7)
# =======================
# 6) í•„í„°ë§
# =======================
# TODO 6-1: ê°’ì´ 1500 ì´ìƒì¸ í•­ëª©ë§Œ ì„ íƒí•˜ì„¸ìš”.
cond = v6 >= 1500
v8 = v6[cond]
# print(v8)

# TODO 6-2: ì¸ë±ìŠ¤ê°€ ['apple','fig']ì¸ í•­ëª©ë§Œ ì„ íƒí•˜ì„¸ìš”.
v9 = v6[['apple','fig']]
# print(v9)
# =======================
# 7) ì •ë ¬ ë° ìˆœìœ„
# =======================
# TODO 7-1: ê°’ ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
v10 = s.sort_values(ascending=True)
print(v10)
# TODO 7-2: ê°’ ê¸°ì¤€ ìˆœìœ„ë¥¼ ë§¤ê²¨ë³´ì„¸ìš”.
v11 = v10.rank()
print(v11)

apple         HIGH
banana        HIGH
cherry        HIGH
elderberry    HIGH
fig           HIGH
dtype: object
date           600
apple         1200
fig           1500
cherry        1800
elderberry    2200
banana        2600
dtype: int64
date          1.0
apple         2.0
fig           3.0
cherry        4.0
elderberry    5.0
banana        6.0
dtype: float64

C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\2667592116.py:55: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if v7[i] >= 1000:
C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\2667592116.py:56: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  v7[i] = "HIGH"
C:\Users\edukd\AppData\Local\Temp\ipykernel_5128\2667592116.py:56: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'HIGH' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  v7[i] = "HIGH"

In [112]:
d1 = pd.Series([10, 24, 50, 58, 25], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d2 = pd.Series([13, 30, 27, 82, 40], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d3 = pd.Series([10, 23, 38, 29, 14], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d4 = pd.Series([18, 24, 50, 58, 25], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d5 = pd.Series([12, 18, 38, 3, 25], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d6 = pd.Series([11, 20, 4, 7, 25], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
d7 = pd.Series([10, 30, 23, 9, 25], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
price = pd.Series([3000, 2500, 1700, 6000, 3300], index=["ì—„ë§ˆëŠ”ì™¸ê³„ì¸", "ì•„ëª¬ë“œë´‰ë´‰", "ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸", "ìŠˆíŒ…ìŠ¤íƒ€", "ì´ˆì½”"])
total_sales = d1 + d2 + d3 + d4 + d5 + d6 + d7
list = [d1, d2, d3, d4, d5, d6, d7]

print(total_sales)
print("\n")
total_revenue = total_sales * price
print(total_revenue)
print("\n")
max_sales = 0
max_index = 0
for i in range(len(list)):
    if list[i].sum() > max_sales:
        max_sales = list[i].sum()
        max_index = i
print(list[max_index])

ì—„ë§ˆëŠ”ì™¸ê³„ì¸      84
ì•„ëª¬ë“œë´‰ë´‰      169
ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸    230
ìŠˆíŒ…ìŠ¤íƒ€       246
ì´ˆì½”         179
dtype: int64


ì—„ë§ˆëŠ”ì™¸ê³„ì¸      252000
ì•„ëª¬ë“œë´‰ë´‰       422500
ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸     391000
ìŠˆíŒ…ìŠ¤íƒ€       1476000
ì´ˆì½”          590700
dtype: int64


ì—„ë§ˆëŠ”ì™¸ê³„ì¸     13
ì•„ëª¬ë“œë´‰ë´‰      30
ë ˆì¸ë³´ìš°ìƒ¤ë² íŠ¸    27
ìŠˆíŒ…ìŠ¤íƒ€       82
ì´ˆì½”         40
dtype: int64

In [1]:
from pandas import Series
import numpy as np

index = ['ìˆ˜ë°•ë°”','ì£ ìŠ¤ë°”','ì›”ë“œì½˜','ë©”ë¡œë‚˜']
p = [1000,1200,2000,1500]
q = np.random.randint(100, size=(7,4))
print(q)

# 1) ë§›ë³„ ì´íŒë§¤ëŸ‰
total_ea = q.sum(axis=0)
s2 = Series(data = total_ea, index=index)

# 2) ë§›ë³„ ì´ìˆ˜ìµ
total_p = total_ea * p
s3 = Series(data=total_p, index=index)

# 3) ë‚ ì§œë³„ ì´íŒë§¤ëŸ‰ (í–‰ í•©ê³„)
day_totals = q.sum(axis=1)
s_day = Series(data=day_totals, index=[f"day{i+1}" for i in range(7)])

# 4) ê°€ì¥ ë§ì´ íŒ”ë¦° ë‚ ì§œ
best_day = s_day.idxmax()
best_units = s_day.max()

print("ë§›ë³„ ì´íŒë§¤ëŸ‰\n", s2)
print("\në§›ë³„ ì´ìˆ˜ìµ\n", s3)
print("\në‚ ì§œë³„ ì´íŒë§¤ëŸ‰\n", s_day)
print(f"\nğŸ—“ï¸ ê°€ì¥ ë§ì´ íŒ”ë¦° ë‚ ì§œ: {best_day} (ì´ {best_units}ê°œ)")

[[64 55 30 74]
 [67 65 20 67]
 [75 99 78 45]
 [93 90 88 79]
 [57 46 33  9]
 [48  0 49 71]
 [53 35  6 58]]
ë§›ë³„ ì´íŒë§¤ëŸ‰
 ìˆ˜ë°•ë°”    457
ì£ ìŠ¤ë°”    390
ì›”ë“œì½˜    304
ë©”ë¡œë‚˜    403
dtype: int64

ë§›ë³„ ì´ìˆ˜ìµ
 ìˆ˜ë°•ë°”    457000
ì£ ìŠ¤ë°”    468000
ì›”ë“œì½˜    608000
ë©”ë¡œë‚˜    604500
dtype: int64

ë‚ ì§œë³„ ì´íŒë§¤ëŸ‰
 day1    223
day2    219
day3    297
day4    350
day5    145
day6    168
day7    152
dtype: int64

ğŸ—“ï¸ ê°€ì¥ ë§ì´ íŒ”ë¦° ë‚ ì§œ: day4 (ì´ 350ê°œ)

In [19]:
# ============================================
# ì¼ì£¼ì¼ ë² ìŠ¤íŠ¸ ì¢…ëª© & ì†ìµ
#
# ëª©í‘œ:
#   1) ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  "ê°€ê²©ë³€í™”"
#   2) ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  "ì†ìµ(= ë³´ìœ ìˆ˜ëŸ‰ Ã— ê°€ê²©ë³€í™”)"
#   3) ê°€ì¥ ì†ìµì´ í° ë‚ ì§œ
#
# í•™ìŠµ í¬ì¸íŠ¸:
#   - NumPy í•©ê³„: changes.sum(axis=0/1)
#       * axis=0 â†’ ì—´(ì¢…ëª©) ë°©í–¥ í•©  â†’ "ì¢…ëª©ë³„" í•©ê³„
#       * axis=1 â†’ í–‰(ë‚ ì§œ) ë°©í–¥ í•©  â†’ "ë‚ ì§œë³„" í•©ê³„
#   - ë¸Œë¡œë“œìºìŠ¤íŒ…: (changes * shares.values)  # (7Ã—4) * (4,) â†’ (7Ã—4)
#   - Series/ë°°ì—´ ìµœëŒ€ê°’ ë¼ë²¨: idxmax()
# ============================================

from pandas import Series
import numpy as np

# ----- 0) ì˜ˆì‹œ ë°ì´í„° ì¤€ë¹„ (ì‹¤í–‰ë§Œ í•˜ë©´ ë¨) -----
#í‹°ì»¤ = ì£¼ì‹ë³„ëª… (ìˆ«ì/ì•ŒíŒŒë²³)          
tickers = ['ì‚¼ì„±ì „ì','LGì „ì','í˜„ëŒ€ì°¨','NAVER']   

shares  = Series([50, 30, 20, 15], index=tickers, name="ë³´ìœ ìˆ˜ëŸ‰")  # ë³´ìœ ìˆ˜ëŸ‰(ì£¼)
days    = [f"day{i+1}" for i in range(7)]                      # 7ì¼

# í•˜ë£¨ ê°€ê²©ë³€í™”(ì›): 7ì¼ Ã— 4ì¢…ëª© (ìŒìˆ˜/ì–‘ìˆ˜ ê°€ëŠ¥)
changes = np.random.randint(-500, 501, size=(7, 4))
# changes: í–‰=ë‚ ì§œ, ì—´=ì¢…ëª©

# ===========================================================
# 1) ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  "ê°€ê²©ë³€í™”"
#    - NumPyë¡œ ì—´ í•©ê³„(axis=0)ë¥¼ êµ¬í•œ ë’¤, ì¢…ëª© ë¼ë²¨ë¡œ Series ìƒì„±
# ===========================================================

# TODO-1A: changes.sum(axis=0)ë¡œ ì¢…ëª©ë³„ ëˆ„ì  ê°€ê²©ë³€í™”(ê¸¸ì´ 4) êµ¬í•˜ê¸°
delta_by_ticker_np = changes.sum(axis=0)

# TODO-1B: ìœ„ ê²°ê³¼ë¥¼ ì¢…ëª© ë¼ë²¨(tickers)ë¡œ ê°€ì§€ëŠ” Seriesë¡œ ë§Œë“¤ê¸°
delta_by_ticker = Series(delta_by_ticker_np, index=tickers, name="ëˆ„ì ê°€ê²©ë³€í™”")

print("ğŸ“Š ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  ê°€ê²©ë³€í™”(ì›)\n", delta_by_ticker, "\n")


# ===========================================================
# 2) ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  "ì†ìµ(ì›)"
#    - ë°©ë²• A(SeriesÃ—Series): delta_by_ticker * shares
#    - ë°©ë²• B(ë¸Œë¡œë“œìºìŠ¤íŒ…): (changes * shares.values).sum(axis=0)
#      * ë‘˜ ì¤‘ í•˜ë‚˜ë§Œ í•´ë„ ë˜ê³ , ë‘ ë°©ë²•ì„ ë¹„êµí•´ë„ ì¢‹ì•„ìš”.
# ===========================================================


# TODO-2A: SeriesÃ—Series ê³±ìœ¼ë¡œ ì¢…ëª©ë³„ ëˆ„ì  ì†ìµ ê³„ì‚°
pnl_by_ticker = delta_by_ticker * shares        # ì˜ˆ) delta_by_ticker * shares

# (ì„ íƒ) TODO-2B: ë¸Œë¡œë“œìºìŠ¤íŒ…ìœ¼ë¡œ ë™ì¼ ê°’ í™•ì¸
daily_pnl_matrix = changes * shares.values          # (7Ã—4)
pnl_by_ticker_b = daily_pnl_matrix.sum(axis=0)      # (4,)
pnl_by_ticker_b = Series(pnl_by_ticker_b, index=tickers)


# ===========================================================
# 3) ë‚ ì§œë³„ "í•˜ë£¨ ì†ìµ(ì›)"ê³¼ 1ë“± ë‚ ì§œ
#    - ë¸Œë¡œë“œìºìŠ¤íŒ…ìœ¼ë¡œ í•˜ë£¨ ì†ìµ í–‰ë²¡í„°(ê¸¸ì´ 7)ë¥¼ ë§Œë“  ë’¤ Seriesë¡œ ë³€í™˜
#    - ê°€ì¥ ì†ìµì´ í° ë‚ ì§œ: idxmax()
# ===========================================================

# TODO-3A: í•˜ë£¨ ì†ìµ(í–‰ í•©ê³„) ê³„ì‚°
#   íŒíŠ¸: daily_pnl_matrix = changes * shares.values    # (7Ã—4)
#        day_pnl_np = daily_pnl_matrix.sum(axis=1)      # (7,)
#        day_pnl = Series(day_pnl_np, index=days, name="ì¼ë³„ì†ìµ")
day_pnl_np = daily_pnl_matrix.sum(axis=1)
day_pnl = Series(day_pnl_np, index=days, name="ì¼ë³„ì†ìµ")

# TODO-3B: ê°€ì¥ ì†ìµì´ í° ë‚ ì§œ ë¼ë²¨ê³¼ ì†ìµê°’
#   íŒíŠ¸: best_day = day_pnl.idxmax()
#        best_pnl = day_pnl.max()
best_day = day_pnl.idxmax()
best_pnl = day_pnl.max()
print(f"ê°€ì¥ ì†ìµì´ í° ë‚ ì§œëŠ” {best_day}ì´ê³ , ê·¸ ì†ìµê°’ì€ {best_pnl}ì´ë‹¤.")


# ===========================================================
# (ì¶”ê°€ ì—°ìŠµ) ì„ íƒ ê³¼ì œ
#   - ê°€ì¥ ì†ìµì´ í° ì¢…ëª© ë¼ë²¨: pnl_by_ticker.idxmax()
#   - ê°€ì¥ ì†ìµì´ ì‘ì€ ì¢…ëª© ë¼ë²¨: pnl_by_ticker.idxmin()
#   - ëˆ„ì  ì†ìµ ê²€ì¦: pnl_by_ticker.sum() == day_pnl.sum()
#   - ëˆ„ì  ê°€ê²©ë³€í™”ê°€ 0ì¸ ì¢…ëª©ë§Œ í•„í„°ë§í•´ë³´ê¸° (== 0)
# ===========================================================

# TODO-ì¶”ê°€1: best_ticker = pnl_by_ticker.idxmax()
# TODO-ì¶”ê°€2: worst_ticker = pnl_by_ticker.idxmin()
# TODO-ì¶”ê°€3: ê²€ì¦ í”„ë¦°íŠ¸
# print("ê²€ì¦:", pnl_by_ticker.sum(), "==", day_pnl.sum())
# TODO-ì¶”ê°€4: zero_delta = delta_by_ticker[ delta_by_ticker == 0 ]
print(pnl_by_ticker, "\n")
print(day_pnl)
for i in tickers:
    if delta_by_ticker[i] == 0:
        print(f"{i}ëŠ” ê°€ê²© ë³€ë™ì´ ì—†ìŠµë‹ˆë‹¤!")
best_ticker = pnl_by_ticker.idxmax()
worst_ticker = pnl_by_ticker.idxmin()
print(f"ê°€ì¥ ì¢‹ì€ ì£¼ì‹ì€ {best_ticker}ì´ë‹¤.")
print(f"ê°€ì¥ ì•ˆì¢‹ì€ ì£¼ì‹ì€ {worst_ticker}ì´ë‹¤.")
print(pnl_by_ticker.sum() == day_pnl.sum())

ğŸ“Š ì¢…ëª©ë³„ 7ì¼ ëˆ„ì  ê°€ê²©ë³€í™”(ì›)
 ì‚¼ì„±ì „ì    -263
LGì „ì    -778
í˜„ëŒ€ì°¨     -491
NAVER    -48
Name: ëˆ„ì ê°€ê²©ë³€í™”, dtype: int64

ê°€ì¥ ì†ìµì´ í° ë‚ ì§œëŠ” day5ì´ê³ , ê·¸ ì†ìµê°’ì€ 10750ì´ë‹¤.
ì‚¼ì„±ì „ì    -13150
LGì „ì    -23340
í˜„ëŒ€ì°¨      -9820
NAVER     -720
dtype: int64

day1     3550
day2   -29555
day3   -24200
day4     1115
day5    10750
day6    -7760
day7     -930
Name: ì¼ë³„ì†ìµ, dtype: int64
ê°€ì¥ ì¢‹ì€ ì£¼ì‹ì€ NAVERì´ë‹¤.
ê°€ì¥ ì•ˆì¢‹ì€ ì£¼ì‹ì€ LGì „ìì´ë‹¤.
True