In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

## 데이터 준비

In [ ]:
# -------------------------------------------------
# data 불러오기
# -------------------------------------------------


# -------------------------------------------------
# 파생컬럼 추가
# -------------------------------------------------
# 연, 월, 일, 시, 요일

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

## 변수선택

In [ ]:
# --------------------------------------------
# 변수선택
# --------------------------------------------

## 훈련세트 테스트세트 분할

In [ ]:
# 훈련세트/테스트세트 분할

((8164, 11), (2722, 11), (8164,), (2722,))

# LinearRegression

In [ ]:
# --------------------------------------------
# 모델 생성 및 훈련
# --------------------------------------------


# --------------------------------------------
# 테스트 데이터로 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.39
rmse:141.81
mae:105.52
mse:20109.88
train>>>>>>>>>>>> 0.38959458488693743
test>>>>>>>>>>>>> 0.38715622127686933

# KNeighborsRegressor

In [ ]:
# --------------------------------------------
# 모델 생성 및 훈련
# --------------------------------------------


# --------------------------------------------
# 테스트 데이터로 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.60
rmse:114.16
mae:77.88
mse:13032.37
train>>>>>>>>>>>> 0.7283526110716256
test>>>>>>>>>>>>> 0.6028417019230614

# DecisionTreeRegressor

In [ ]:
# --------------------------------------------
# 모델 생성 및 훈련
# --------------------------------------------


# --------------------------------------------
# 테스트 데이터로 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.91
rmse:53.30
mae:32.31
mse:2841.26
train>>>>>>>>>>>> 0.9710989121413549
test>>>>>>>>>>>>> 0.9134133231771829

# RandomForestRegressor

In [ ]:
# --------------------------------------------
# 모델 생성 및 훈련
# --------------------------------------------


# --------------------------------------------
# 테스트 데이터로 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.95
rmse:38.44
mae:24.27
mse:1477.65
train>>>>>>>>>>>> 0.9926174979248452
test>>>>>>>>>>>>> 0.9549688634527163