In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

## 데이터 준비

In [ ]:
# -------------------------------------------------
# data 불러오기
# -------------------------------------------------


# -------------------------------------------------
# 파생컬럼 추가
# -------------------------------------------------
# 연, 월, 일, 시, 요일

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

## 변수선택

In [ ]:
# --------------------------------------------
# 변수선택
# --------------------------------------------

## 훈련세트 테스트세트 분할

In [ ]:
# 훈련세트/테스트세트 분할

(8164, 13) (2722, 13) (8164,) (2722,)

## 전처리 파이프라인 구성
* 파이프라인 
    * 데이터 처리 과정을 순차적으로 연결하여 자동화하는 도구
* ColumnTransformer
    * 열별 전처리 파이프라인 구성

In [ ]:


# -----------------------------
# 전처리 대상 컬럼 지정
#   - categorical_features : 원‑핫 인코딩할 범주형 변수 목록
#   - numerical_features   : 표준화(평균 0, 표준편차 1)할 수치형 변수 목록
# -----------------------------



# -----------------------------
# ColumnTransformer 구성
#   - "cat" : 범주형 → OneHotEncoder
#   - "num" : 수치형 → StandardScaler
#   remainder="passthrough" : transformers에 포함되지 않은 컬럼은 변환 없이 그대로 유지
# -----------------------------

# LinearRegression

In [ ]:
# --------------------------------------------
# 파이프라인 정의
# --------------------------------------------


# --------------------------------------------
# 훈련
# --------------------------------------------


# --------------------------------------------
# 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------



# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.6919904303436103
rmse:100.5337673050516
mae:74.48484167828654
mse:10107.03836854626
train>>>>>>>>>>>> 0.6959975059008054
test>>>>>>>>>>>>> 0.6919904303436103

# KNeighborsRegressor

In [ ]:



# --------------------------------------------
# 파이프라인 정의
# --------------------------------------------

# --------------------------------------------
# 훈련
# --------------------------------------------


# --------------------------------------------
# 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.4243915927501254
rmse:137.43375624236614
mae:97.1181484202792
mse:18888.037354886113
train>>>>>>>>>>>> 0.6161869093767971
test>>>>>>>>>>>>> 0.4243915927501254

# DecisionTreeRegressor

In [ ]:



# --------------------------------------------
# 파이프라인 정의
# --------------------------------------------


# --------------------------------------------
# 훈련
# --------------------------------------------


# --------------------------------------------
# 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.8550429634259437
rmse:68.96829713924039
mae:41.39235855988244
mse:4756.626010286554
train>>>>>>>>>>>> 1.0
test>>>>>>>>>>>>> 0.8550429634259437

# RandomForestRegressor

In [ ]:


# --------------------------------------------
# 파이프라인 정의
# --------------------------------------------


# --------------------------------------------
# 훈련
# --------------------------------------------


# --------------------------------------------
# 예측
# --------------------------------------------


# --------------------------------------------
# 모델 성능 평가
# --------------------------------------------


# --------------------------------------------
# 과적합 확인
# --------------------------------------------

r2:0.9272297775398759
rmse:48.86599019333705
mae:31.639346069066864
mse:2387.8849975753124
train>>>>>>>>>>>> 0.9884423580379689
test>>>>>>>>>>>>> 0.9272297775398759

# 모델 활용

In [ ]:

# ----------------------
# 파이프라인 저장
# ----------------------

['model/bike_rent_pipe.pkl']

In [ ]:
# ------------------
# 모델 불러오기 
# ------------------

In [ ]:
# -------------------------------------------------------
# 예측할 데이터 준비
# -------------------------------------------------------



# -------------------------------------------------------
# Pipeline 내부에서 자동으로 → One‑Hot → 스케일링 → 예측
# -------------------------------------------------------

예상 대여 수: 560대