#### 데이터 준비
https://www.kaggle.com/c/titanic/data

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df_titanic = pd.read_csv('data/titanic/train.csv')
df_titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### 데이터 탐색

#### 변수 선택
* 불필요한 컬럼 : ['Name','Ticket','Fare','Cabin']

#### 결측치 처리
* 결측치가 있는 모든 행 삭제
    * `dropna()`

#### 범주형 데이터 인코딩
* Sex : male->1, femali->0
* Embarked  : C->0, Q->1, S->2

## 모델링
1. 훈련세트, 테스트세트 분할
2. 모델 생성
3. 훈련세트로 훈련
4. 테스트세트로 예측
5. 실제값, 예측값 이용하여 평가

#### 훈련세트, 테스트세트 분할

#### 모델 생성

### 모델 평가