In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 준비
* InvoiceNo : 주문번호('C'로 시작하는 것은 취소주문)
* StockCode : 제품코드
* Description : 제품설명
* Quantity : 주문갯수
* InvoiceDate : 주문일자
* UnitPrice : 제품단가
* CustomerID : 고객번호
* Country : 주문고객의 국적

In [2]:
# pip install openpyxl
import openpyxl
df = pd.read_excel('data\\Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# 데이터 정제
* 아래 데이터는 필터링한다.
    * CusomerID가 null인 데이터
    * 주문취소한 데이터
    * Quantity가 음수인 데이터
    * UnitPrice가 음수인 데이터

In [3]:
# 대다수를 차지하는 영국 고객을 대상으로 한다.

In [4]:
# Code성 데이터는 보통 str
# CustomerID 자료형 : float -> int -> str

# 데이터 탐색

In [5]:
# 하나의 주문번호에 여러 주문 건수가 포함되어 있음

# 데이터 가공
* RFM 분석을 위한 정보 생성

In [6]:
# 주문 금액 데이터 생성 (Quantity * Unitpirce)

In [19]:
# R : 고객별 가장 최근 날짜
# F : 고객별 중복 제외한 InvoceNo 갯수
# M : 고객별 Price 합계

In [20]:
# 마지막 날짜

In [21]:
# InvoceDate : 현재부터 경과한 날짜
# 2011-12-10일 기준으로 경과한 날짜 계산

# 기준일 : 마지막날짜+1일

# 기준일시 - 주문일시

# 날짜만 추출

In [22]:
# 필요한 데이터만 선택

In [23]:
# 컬럼명 변경

In [24]:
# 데이터 로그변환

In [25]:
# 스케일링 대상 : 로그변환 한 데이터

# 고객 세그먼테이션

In [26]:
# 엘보우 기법으로 최적의 k 찾기

In [27]:
# 최적의 실루엣 찾기