#### 1. Import NumPy as np

In [1]:
import numpy as np

#### 2. 10개의 0으로 채워진 배열 생성

In [ ]:
# 결과
# array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [36]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### 3. 10개의 1로 채워진 배열 생성

In [ ]:
# 결과
# array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [38]:
np.zeros(1)

array([0.])

#### 4. 10개의 5로 채워진 배열 생성

In [ ]:
# 결과
# array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [40]:
np.full(10,5)
np.ones(10)*5
np.zeros(10)+5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### 5. 1부터 10까지 정수 배열 생성

In [ ]:
# 결과
# array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [42]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

#### 6. 1부터 100까지 짝수로 이루어진 배열 생성

In [ ]:
# 결과
# array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
#         28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
#         54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
#         80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [44]:
np.arange(2,101,2)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

#### 7. 0부터 8까지 숫자로 이루어진 3x3배열 생성

In [ ]:
# 결과
# array([[0, 1, 2],
#        [3, 4, 5],
#        [6, 7, 8]])

In [46]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### 8. 5x5 단위행렬 생성

In [ ]:
# 결과
# array([[1., 0., 0., 0., 0.],
#        [0., 1., 0., 0., 0.],
#        [0., 0., 1., 0., 0.],
#        [0., 0., 0., 1., 0.],
#        [0., 0., 0., 0., 1.]])

In [1]:
np.eye(5)

NameError: name 'np' is not defined

#### 9. 0~1 사이의 랜덤수 생성

In [ ]:
# 결과예시
# 0.5163986277024462

0.9082081134516378

In [47]:
np.random.random()

0.34990356306752446

#### 9. 1부터 5 사이의 랜덤수 생성(5 포함)

In [ ]:
# 결과예시
# 5

In [54]:
np.random.randint(1,6)

5

#### 10. 표준정규분포를 따르는 100개의 랜덤수로 이루어진 배열 생성

In [ ]:
# 결과예시
# array([ 2.50338201,  0.99905888,  0.48439554,  0.1114564 ,  0.3866839 ,
#         0.80955338,  0.46150244,  1.19488841,  1.09785111, -0.18915492,
#        -0.46471608,  0.50403039,  1.68856579, -1.07596637,  0.45882649,
#        -0.0484962 , -0.14518238, -0.21781261,  1.57233397,  1.08399299,
#         0.1620863 , -0.50621542,  0.93322816,  0.36504563, -0.42499295,
#        -0.406113  ,  0.26988598, -1.65546405, -0.14513967, -0.27679724,
#        -0.56247863,  0.70353559, -0.75766726,  0.23965767, -0.38658618,
#        -0.39118656, -0.48913556,  2.86447484,  0.10288452, -0.8310116 ,
#        -1.60717932, -1.47934754, -0.9878885 , -0.48323367, -0.20036011,
#         1.05275277, -0.48108447,  0.37668157, -0.03049935,  0.60705215,
#         0.50653593,  0.03113915, -0.10187938,  1.96796081,  0.1082362 ,
#        -1.14388703, -0.58296045, -1.6746724 , -0.64892165, -1.47007184,
#         1.02644517,  2.24288362,  0.27689795, -0.7650762 , -0.74665176,
#        -1.2808795 , -1.39528632, -0.25274243,  1.01856503, -0.40034718,
#        -1.77671808,  2.1168332 , -1.90080796,  0.61016291,  1.9165978 ,
#         1.20202153,  0.79170062, -1.97770584,  0.81881606, -0.71446924,
#        -0.01997034, -1.44779772, -1.25097597, -1.0174177 ,  1.91827316,
#        -0.90579617, -1.38363739, -2.4113519 ,  1.82148828,  0.67738264,
#        -0.54184505, -2.45027392, -1.07995635, -0.79394091,  2.04609304,
#        -0.88943491,  0.65949526, -1.72495389, -0.35482445,  1.02366882])

In [58]:
arr = np.random.randn(100)
arr

array([-0.91926728, -0.05691822, -1.36709508, -0.4645666 , -0.81254095,
        0.20133306,  0.08077985, -0.05269328,  1.532784  , -0.36731554,
       -1.18609705,  0.92781099, -1.17997036, -0.41280263,  0.77255372,
        1.8029672 ,  1.38947517, -0.6461084 ,  0.16240145,  0.1923006 ,
        0.56072089, -0.66672624, -0.97928157, -0.63817063, -0.66951233,
        0.07690671,  1.76033922,  0.71695185,  0.71217156, -0.86819747,
       -1.00045036, -1.23259191, -0.24005051, -0.43306292, -0.78993024,
       -1.48755891, -0.59813852, -1.25208526, -0.8015707 , -0.18281639,
       -1.31087523, -1.01729368, -0.19956389, -0.34047672,  0.05043908,
        0.50677083,  1.15580302, -0.19174428, -0.62138905,  1.24740017,
        0.03452041, -0.86162864, -0.50806388, -0.29675877, -0.69056061,
        1.51276391,  1.13042584,  1.51218047, -0.80480183,  2.44572063,
        3.04926594, -0.41764207, -1.47878333,  0.72342335, -1.47276565,
        1.51384713,  0.40347026,  0.13734139, -0.79123443,  1.51523013,
       -0.94124587,  0.71197477, -0.44463084,  0.14130334, -1.18370963,
        0.0155878 ,  0.57515778,  0.59066788,  0.79973945, -0.76982022,
       -1.13681719, -2.01409006, -0.54563841,  0.26484663, -0.28832654,
       -2.47410371, -0.45815716,  0.08065234, -0.26560525,  0.62905922,
        1.02180812,  0.31292935,  1.03053266, -0.04168211,  0.74171893,
        0.36466019,  0.14433617, -0.06439636,  0.7119634 ,  2.42655267])

#### 11.10에서 생성한 배열의 평균, 표준편차 출력

In [ ]:
# 결과예시
# 평균: -0.03533959537061757
# 표준편차: 1.1267077319752274

In [60]:
print('평균:',arr.mean())
print('표준편차:',arr.std())

평균: -0.02545735256910322
표준편차: 0.9946071645469916

#### 12. 0에서 1사이 0.1간격의 10x10 배열 생성

In [ ]:
# 결과

# array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
#        [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
#        [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
#        [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
#        [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
#        [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
#        [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
#        [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
#        [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
#        [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [61]:
np.arange(0.01,1.01,0.01).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [62]:
np.arange(1,101).reshape(10,10)/100

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### 13. 1에서 100사이 균등 간격으로 10개의 숫자 생성

In [ ]:
# 결과
# array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [64]:
np.linspace(1,100,10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

* 아래 배열에서 값을 선택하세요

In [92]:
arr = np.arange(1,26).reshape(5,5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

#### 14

In [ ]:
# -----------------------
# arr에서 아래와 같은 값 선택
# -----------------------

# 결과
# array([[12, 13, 14, 15],
#        [17, 18, 19, 20],
#        [22, 23, 24, 25]])

In [68]:
arr[2:, 1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

#### 15

In [ ]:
# -----------------------
# arr에서 아래와 같은 값 선택
# -----------------------

# 결과
# np.int64(20)

In [71]:
arr[3,4]

np.int64(20)

#### 16

In [ ]:
# -----------------------
# arr에서 아래와 같은 값 선택
# -----------------------

# 결과
# array([21, 22, 23, 24, 25])

In [73]:
arr[4,:]

array([21, 22, 23, 24, 25])

#### 17

In [ ]:
# 결과

# -----------------------
# arr에서 아래와 같은 값 선택
# -----------------------

# 결과
# array([[16, 17, 18, 19, 20],
#        [21, 22, 23, 24, 25]])

In [78]:
arr[3:, :]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### 18. 전체 합계

In [ ]:
# 결과

# -----------------------
# arr의 전체 합계
# -----------------------

# 결과
# np.int64(325)

In [99]:
arr.sum()

np.int64(325)

#### 19. 전체 표준편차

In [ ]:
# 결과

# -----------------------
# arr의 전체 표준편차
# -----------------------

# 결과
# np.float64(7.211102550927978)

In [86]:
arr.std()

np.float64(7.211102550927978)

#### 20. 열별 합계

In [ ]:
# 결과

# -----------------------
# arr의 열별 합계
# -----------------------

# 결과
# array([55, 60, 65, 70, 75])

In [100]:
arr.sum(axis=0)

array([55, 60, 65, 70, 75])