## 9.1 모듈 설정

모듈 설치

In [1]:
!pip install pykrx

Collecting pykrx
  Downloading pykrx-1.0.51-py3-none-any.whl.metadata (61 kB)
Requirement already satisfied: requests in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.32.4)
Requirement already satisfied: pandas in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.3.1)
Collecting datetime (from pykrx)
  Downloading DateTime-5.5-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: numpy in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.3.2)
Collecting xlrd (from pykrx)
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting deprecated (from pykrx)
  Downloading Deprecated-1.2.18-py2.py3-none-any.whl.metadata (5.7 kB)
Collecting multipledispatch (from pykrx)
  Downloading multipledispatch-1.0.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: matplotlib in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (3.10.5)
Collecting zope.interface (from datetime->pykrx)
  Downloading zope.interface-7.2-cp311-cp311-win_amd64.whl.metadata (45 kB)
Requirement already satisfied: pytz in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from datetime->pykrx) (2025.2)
Collecting wrapt<2,>=1.10 (from deprecated->pykrx)
  Downloading wrapt-1.17.3-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.17.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas->pykrx) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (2025.8.3)
Requirement already satisfied: setuptools in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from zope.interface->datetime->pykrx) (80.9.0)
Downloading pykrx-1.0.51-py3-none-any.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 2.2/2.2 MB 24.6 MB/s  0:00:00
Downloading DateTime-5.5-py3-none-any.whl (52 kB)
Downloading Deprecated-1.2.18-py2.py3-none-any.whl (10.0 kB)
Downloading wrapt-1.17.3-cp311-cp311-win_amd64.whl (38 kB)
Downloading multipledispatch-1.0.0-py3-none-any.whl (12 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Downloading zope.interface-7.2-cp311-cp311-win_amd64.whl (212 kB)
Installing collected packages: multipledispatch, zope.interface, xlrd, wrapt, deprecated, datetime, pykrx

   ----- ---------------------------------- 1/7 [zope.interface]
   ----------- ---------------------------- 2/7 [xlrd]
   ---------------------------- ----------- 5/7 [datetime]
   ---------------------------------- ----- 6/7 [pykrx]
   ---------------------------------------- 7/7 [pykrx]

Successfully installed datetime-5.5 deprecated-1.2.18 multipledispatch-1.0.0 pykrx-1.0.51 wrapt-1.17.3 xlrd-2.0.2 zope.interface-7.2

모듈 업데이트

In [2]:
!pip install -U pykrx

Requirement already satisfied: pykrx in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (1.0.51)
Requirement already satisfied: requests in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.32.4)
Requirement already satisfied: pandas in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.3.1)
Requirement already satisfied: datetime in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (5.5)
Requirement already satisfied: numpy in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.3.2)
Requirement already satisfied: xlrd in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (2.0.2)
Requirement already satisfied: deprecated in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (1.2.18)
Requirement already satisfied: multipledispatch in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (1.0.0)
Requirement already satisfied: matplotlib in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pykrx) (3.10.5)
Requirement already satisfied: zope.interface in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from datetime->pykrx) (7.2)
Requirement already satisfied: pytz in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from datetime->pykrx) (2025.2)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from deprecated->pykrx) (1.17.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from matplotlib->pykrx) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.17.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from pandas->pykrx) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from requests->pykrx) (2025.8.3)
Requirement already satisfied: setuptools in c:\users\edukd\miniconda3\envs\kiwoom-venv\lib\site-packages (from zope.interface->datetime->pykrx) (80.9.0)

In [3]:
import pykrx
print(pykrx.__version__)

c:\Users\edukd\miniconda3\envs\kiwoom-venv\Lib\site-packages\pykrx\__init__.py:4: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

1.0.51

## 9.3 티커

`2019-02-25`의 티커 목록을 구합니다.

In [4]:
from pykrx import stock

tickers = stock.get_market_ticker_list("20190225")
print(tickers)

['095570', '068400', '006840', '027410', '282330', '138930', '001460', '001465', '001040', '079160', '000120', '011150', '011155', '001045', '097950', '097955', '037560', '000590', '012030', '016610', '005830', '000990', '000995', '139130', '004840', '155660', '069730', '017940', '007700', '114090', '078930', '006360', '001250', '007070', '078935', '012630', '039570', '089470', '294870', '082740', '003560', '175330', '234080', '001060', '001067', '001065', '096760', '105560', '002380', '009070', '009440', '119650', '092220', '001390', '001940', '025000', '092230', '000040', '044450', '030200', '033780', '030210', '058850', '093050', '003550', '034220', '001120', '051900', '051905', '003555', '032640', '011070', '066570', '066575', '108670', '108675', '051910', '051915', '079550', '006260', '000680', '010120', '229640', '023150', '035420', '181710', '005940', '005945', '034310', '008260', '004250', '004255', '010060', '005490', '100840', '064960', '003570', '036530', '010950', '010955', '034120', '101060', '004060', '001380', '002360', '009160', '123700', '025530', '034730', '011790', '018670', '001740', '001745', '006120', '006125', '210980', '03473K', '096770', '096775', '001510', '001515', '285130', '28513K', '017670', '000660', '005610', '011810', '077970', '071970', '084870', '002710', '024070', '037270', '000500', '000860', '035250', '011420', '002100', '009450', '267290', '012320', '000050', '214390', '012610', '009140', '013580', '012200', '012205', '004200', '002140', '010130', '002240', '001290', '009290', '017040', '017900', '037710', '030610', '007690', '005320', '001140', '002720', '083420', '014530', '014280', '014285', '008870', '001570', '002990', '002995', '011780', '011785', '214330', '001210', '073240', '092440', '000270', '024110', '013700', '004540', '004545', '074610', '001260', '008350', '008355', '004270', '003920', '003925', '002070', '025860', '005720', '005725', '002350', '002355', '003580', '251270', '090350', '090355', '000320', '000325', '006280', '005250', '005257', '004370', '072710', '058730', '023590', '019680', '019685', '006370', '008060', '00806K', '000490', '008110', '005750', '000210', '000215', '004440', '006570', '001680', '001685', '084690', '084695', '128820', '117580', '016710', '003540', '003547', '003545', '009190', '014160', '047040', '009320', '042660', '003090', '069620', '000430', '006340', '006345', '003220', '024890', '002880', '000300', '012800', '015230', '001070', '006650', '001440', '084010', '001790', '001799', '001795', '001130', '003490', '003495', '005880', '003830', '016090', '069460', '012510', '004830', '004835', '024900', '145720', '002150', '001620', '001230', '023450', '004140', '007590', '005960', '005965', '016380', '016385', '083370', '083380', '026960', '002210', '102260', '005190', '000640', '170900', '028100', '282690', '001520', '001527', '001529', '084670', '030790', '002900', '082640', '001525', '008970', '092780', '049770', '018500', '006040', '030720', '014820', '014825', '163560', '001530', '004890', '002690', '000020', '000150', '000157', '011160', '241560', '000155', '042670', '034020', '016740', '024090', '003160', '092200', '013570', '210540', '007340', '026890', '115390', '032350', '000400', '023530', '004000', '286940', '280360', '004990', '00499K', '005300', '005305', '011170', '002270', '071840', '027740', '204320', '001080', '088980', '094800', '015540', '138040', '008560', '000060', '090370', '017180', '012690', '005360', '204210', '009680', '009580', '009200', '033920', '008420', '025560', '007120', '006800', '00680K', '006805', '085620', '002840', '268280', '107590', '134380', '003650', '155900', '003610', '001340', '014580', '035150', '002410', '096300', '007210', '002760', '003850', '000890', '003000', '001270', '001275', '026940', '015350', '011390', '005030', '100220', '005180', '003960', '008040', '007160', '014710', '006090', '079660', '005090', '001470', '006400', '006405', '006660', '028260', '02826K', '207940', '032830', '018260', '028050', '009150', '009155', '005930', '005935', '001360', '010140', '010145', '016360', '068290', '029780', '000810', '000815', '006110', '145990', '145995', '003230', '002170', '272550', '000070', '000075', '002810', '005680', '003720', '023000', '004380', '002450', '000520', '009770', '005500', '004690', '001880', '010960', '004450', '009470', '011230', '001820', '000390', '041650', '075180', '007540', '248170', '007860', '200880', '017390', '004410', '004415', '021050', '008490', '007610', '136490', '002820', '014910', '014915', '003080', '004980', '004987', '004989', '004985', '011300', '000180', '002420', '004360', '004365', '004490', '001430', '306200', '003030', '019440', '058650', '013000', '091090', '021820', '067830', '033530', '075580', '027970', '145210', '068270', '004430', '017550', '002200', '053210', '134790', '016590', '029530', '004970', '011930', '005390', '004170', '035510', '034300', '031430', '031440', '006880', '005800', '001720', '001725', '009270', '009275', '002700', '019170', '019175', '002870', '005450', '293940', '055550', '001770', '004080', '102280', '003410', '003415', '003620', '004770', '004920', '112610', '008700', '002790', '002795', '090430', '090435', '002030', '183190', '002310', '267850', '020560', '122900', '010780', '033660', '101140', '001780', '002250', '018250', '161000', '011090', '005850', '012750', '023960', '298690', '140910', '078520', '015260', '007460', '003060', '036570', '138250', '085310', '009810', '900140', '014440', '111770', '009970', '003520', '000670', '006740', '012280', '012160', '015360', '007310', '079440', '002630', '271560', '001800', '070960', '316140', '004720', '118000', '010050', '006980', '017370', '105840', '010400', '049800', '016880', '095720', '103130', '005820', '010600', '008600', '033270', '014830', '000910', '047400', '011330', '077500', '002920', '000700', '003470', '003475', '011690', '072130', '000220', '000225', '000227', '001200', '000100', '000105', '003460', '003465', '008730', '008250', '025820', '214320', '088260', '139480', '007660', '005950', '015020', '093230', '102460', '084680', '000760', '014990', '006490', '023800', '034590', '129260', '023810', '249420', '000230', '013360', '003120', '003200', '007110', '007570', '007575', '008500', '081000', '020760', '020150', '103590', '015860', '226320', '033240', '000950', '194370', '025620', '030000', '271980', '001560', '002620', '006220', '089590', '004910', '004700', '001550', '000480', '120030', '018470', '002600', '185750', '063160', '001630', '044380', '013870', '071320', '010580', '035000', '088790', '003780', '010640', '100250', '051630', '272450', '011000', '002780', '002787', '002785', '009310', '000650', '012600', '033250', '035720', '006380', '109070', '029460', '281820', '145270', '058860', '007815', '007810', '00781K', '152330', '003690', '192820', '044820', '005070', '005420', '071950', '002020', '003070', '003075', '144620', '002025', '120110', '120115', '138490', '021240', '031820', '192400', '284740', '015590', '264900', '26490K', '005740', '005745', '020120', '039490', '012170', '015890', '006890', '003240', '011280', '004100', '004105', '009410', '009415', '001420', '007980', '055490', '078000', '214420', '140890', '019180', '091810', '004870', '005690', '036580', '028670', '010820', '016800', '001020', '090080', '010770', '058430', '047050', '007630', '017810', '103140', '005810', '033180', '086790', '099340', '099350', '293480', '039130', '172580', '153360', '159650', '071090', '019490', '000080', '000087', '000140', '000145', '152550', '036460', '005430', '071050', '071055', '010040', '025540', '004090', '002960', '123890', '015760', '006200', '002300', '023350', '025890', '000970', '104700', '017960', '161890', '024720', '161390', '000240', '034830', '007280', '168490', '010100', '047810', '123690', '003350', '011500', '002390', '014790', '060980', '053690', '042700', '008930', '128940', '009240', '020000', '003680', '105630', '069640', '016450', '010420', '009180', '213500', '014680', '004710', '004150', '025750', '004960', '011700', '001750', '001755', '018880', '009420', '014130', '300720', '002220', '006390', '003300', '051600', '052690', '130660', '002320', '097230', '003480', '180640', '18064K', '005110', '009460', '000880', '00088K', '027390', '088350', '000370', '012450', '000885', '009830', '009835', '003530', '003535', '195870', '101530', '143210', '000720', '267270', '000725', '005440', '086280', '064350', '079430', '012330', '010620', '069960', '004560', '004565', '011760', '011200', '004310', '126560', '017800', '011210', '267260', '004020', '009540', '267250', '005380', '005387', '005389', '005385', '001500', '227840', '001450', '057050', '093240', '003010', '111110', '008770', '008775', '002460', '013520', '241590', '006060', '010690', '133820', '010660', '000850', '016580', '032560', '004800', '094280', '298040', '298050', '298020', '298000', '093370', '081660', '005870', '079980', '005010', '069260', '000540', '000547', '000545', '003280']

In [5]:
tickers = stock.get_market_ticker_list(market="KOSDAQ")
print(tickers)

['060310', '054620', '265520', '211270', '109960', '139050', '126600', '083790', '035760', '311690', '051500', '058820', '056730', '065770', '083660', '477760', '099520', '060900', '290120', '025440', '068790', '241520', '180400', '418620', '245620', '037370', '050120', '214270', '130500', '900290', '083450', '297890', '440290', '078150', '225530', '060560', '195940', '028300', '278650', '067630', '024850', '187420', '047920', '115450', '046210', '196300', '403870', '036640', '442770', '448760', '467930', '469480', '095340', '950170', '067290', '035900', '318000', '024840', '024120', '455250', '464680', '478390', '486630', '492220', '0037T0', '021320', '044180', '046440', '151860', '035600', '226360', '111870', '060720', '058400', '101000', '089600', '418470', '043610', '122450', '052900', '036560', '061970', '309960', '225190', '060370', '417200', '078020', '322180', '476080', '086960', '160550', '053290', '060250', '104200', '063570', '222160', '024940', '332570', '218410', '327260', '474610', '091340', '419530', '019550', '246960', '099220', '036540', '255220', '040610', '049470', '184230', '016250', '357880', '048550', '063440', '067160', '289080', '013720', '089230', '032540', '048770', '246690', '317240', '057030', '040300', '051390', '052220', '079940', '078890', '399720', '036620', '198440', '217730', '114190', '094480', '039240', '053950', '011040', '024910', '049720', '014570', '348150', '950190', '098460', '035290', '215000', '121440', '366030', '014200', '029480', '026910', '456490', '465320', '482520', '489210', '0041B0', '053270', '066620', '043650', '006050', '060480', '078130', '307750', '035080', '318060', '453450', '204020', '402490', '114450', '186230', '900070', '204620', '019660', '053260', '282720', '036190', '049080', '420770', '035460', '407400', '187790', '121600', '286750', '247660', '039860', '091970', '417010', '405920', '051490', '137080', '190510', '242040', '293580', '459510', '138610', '130580', '036800', '267320', '111710', '091590', '168330', '094860', '253590', '212560', '095660', '042420', '950220', '311390', '085910', '092730', '290660', '306620', '153460', '007390', '033640', '330860', '351320', '089140', '389650', '137940', '396270', '348210', '225570', '205500', '217270', '104620', '473980', '194700', '285490', '145170', '106520', '376930', '142280', '234690', '054050', '069140', '040160', '332290', '348340', '380550', '060260', '463020', '123840', '012340', '462310', '270870', '144960', '085670', '064260', '340360', '039560', '154040', '032190', '323350', '068240', '464580', '020400', '008830', '048470', '004780', '017650', '389260', '317850', '290670', '078140', '065150', '036480', '027830', '104040', '129920', '457630', '471050', '478780', '482690', '020180', '045390', '108380', '007680', '048910', '005710', '120240', '003310', '078600', '393970', '096350', '140520', '131220', '010170', '054670', '023910', '021040', '021045', '067080', '298540', '032860', '214610', '393890', '299170', '462860', '224060', '043090', '213420', '317330', '077360', '090410', '263600', '194480', '373160', '263800', '206560', '261200', '484120', '067990', '006620', '100130', '005160', '303810', '075970', '086450', '240550', '099410', '033500', '025950', '088130', '041930', '060380', '079960', '228340', '088910', '094170', '013120', '109860', '032960', '023790', '005290', '025900', '131970', '073190', '176750', '030350', '203650', '223250', '060570', '362990', '016670', '187870', '489730', '0004Y0', '110990', '263690', '214680', '347850', '263720', '376300', '109740', '031860', '196490', '066900', '092070', '039840', '219550', '310870', '104460', '079810', '113810', '043360', '197140', '068930', '033130', '105740', '263020', '290550', '066670', '187220', '383930', '131180', '315640', '317120', '462510', '042510', '232680', '418420', '300120', '171120', '388790', '214260', '171010', '084650', '217500', '038390', '294140', '443250', '228670', '228850', '412350', '199550', '281740', '277810', '215100', '090360', '108490', '900260', '067730', '071280', '376900', '328130', '038060', '474170', '141080', '058470', '016100', '012700', '302550', '073570', '377450', '277070', '042500', '193250', '474650', '219420', '439090', '195500', '377480', '305090', '098120', '424980', '038290', '267980', '005990', '093520', '100590', '067280', '072870', '215200', '133750', '446540', '235980', '041920', '014100', '054180', '086900', '078160', '408920', '021880', '140410', '241770', '059210', '058110', '434480', '080420', '417970', '080160', '087260', '101330', '012860', '363260', '348030', '250060', '288980', '142760', '033200', '333050', '118990', '463480', '006920', '001810', '279600', '095500', '254490', '218150', '442900', '100790', '446190', '448830', '477380', '477470', '478440', '482680', '049950', '207760', '059090', '201490', '475460', '452200', '206640', '018700', '035620', '053030', '301300', '064550', '314930', '489460', '086820', '038460', '251120', '199730', '086040', '188040', '099430', '032980', '308080', '043150', '323990', '267790', '046310', '331520', '199480', '438700', '066410', '382900', '206400', '019010', '177350', '457600', '424760', '250000', '310210', '006910', '226340', '014470', '008470', '338220', '100120', '406820', '099390', '064480', '365900', '089970', '251630', '018290', '478560', '439580', '033560', '369370', '126340', '121800', '082800', '318410', '419540', '146320', '200780', '413640', '141000', '083650', '473370', '065170', '086670', '335890', '230980', '082920', '054220', '042370', '050090', '148780', '307870', '377030', '032850', '238200', '093190', '065450', '044480', '069540', '072950', '451250', '143240', '466410', '223310', '452430', '419120', '122350', '419050', '014970', '018310', '053700', '009620', '023600', '0044K0', '448740', '009300', '482630', '484590', '036670', '361670', '054540', '065570', '032280', '002290', '037460', '032750', '054090', '000250', '024950', '038500', '437730', '017480', '046390', '027580', '038540', '452670', '091580', '263810', '089980', '042940', '042600', '107600', '411080', '252990', '378800', '294630', '038070', '006730', '079650', '100660', '019770', '043710', '092190', '046890', '063170', '027040', '018680', '036120', '093920', '189860', '178320', '122690', '140070', '011370', '065710', '035890', '357550', '003100', '067370', '217620', '171090', '086710', '014620', '037350', '458650', '081580', '045300', '015750', '365340', '080470', '043260', '148150', '188260', '053060', '340440', '017510', '011560', '396300', '100700', '024830', '258830', '036630', '039310', '067770', '053450', '222810', '252500', '321370', '347000', '331920', '352770', '471820', '049180', '299660', '108860', '208370', '318160', '308430', '068760', '068940', '007720', '060230', '290690', '950200', '032680', '032685', '258790', '066910', '215090', '035610', '357780', '036830', '304100', '328380', '086980', '050960', '084180', '253840', '298830', '236200', '094840', '192440', '424960', '099440', '276040', '060240', '115570', '330730', '352090', '253450', '408900', '204630', '415380', '013810', '347700', '049830', '020710', '033170', '048870', '025320', '340810', '269620', '056090', '429270', '418250', '131090', '290520', '001000', '025870', '215600', '065350', '416180', '162300', '290560', '002800', '472220', '017000', '012790', '138070', '226330', '452980', '474660', '474930', '487360', '487830', '496070', '056700', '187270', '243840', '257720', '222800', '036710', '444530', '234030', '160980', '356890', '217330', '208640', '222420', '037760', '081180', '099320', '049960', '088280', '050890', '394800', '177900', '475400', '109670', '066790', '222080', '352480', '264660', '352700', '458870', '297090', '900120', '359090', '115530', '115480', '376290', '189330', '096530', '101240', '060590', '260930', '413630', '013990', '123860', '025980', '125210', '357580', '052710', '074430', '092040', '083930', '149950', '036010', '050860', '136410', '246720', '450950', '067390', '159010', '127710', '154030', '227610', '331740', '143160', '054800', '332370', '066430', '339950', '469750', '460470', '099190', '461300', '289010', '214430', '040910', '368600', '456010', '052860', '464500', '212710', '038880', '307180', '101390', '461030', '451220', '090150', '123010', '031310', '462980', '185490', '059100', '262840', '175250', '052460', '119830', '052770', '124500', '010280', '232830', '372800', '084850', '309710', '114840', '027360', '032080', '013310', '059120', '203690', '158430', '200350', '321820', '001540', '053800', '065660', '297570', '260660', '354320', '361570', '131370', '140670', '096610', '061040', '148250', '347860', '196170', '123750', '085810', '043100', '117670', '314140', '291650', '293780', '310200', '179530', '397810', '900100', '052790', '290740', '238090', '092600', '129890', '174900', '270520', '255440', '030960', '102120', '238120', '019990', '435570', '270660', '038680', '217480', '121890', '304360', '389500', '042110', '298060', '065420', '103230', '260970', '101490', '095910', '275630', '031330', '060540', '056190', '0008Z0', '246250', '041510', '460870', '007820', '464080', '109610', '365330', '019590', '306040', '398120', '457940', '472230', '473000', '473950', '455910', '475660', '096630', '069510', '234300', '039440', '098660', '052020', '237690', '050760', '288620', '443670', '317830', '058610', '043340', '163280', '054630', '200710', '475580', '096690', '298380', '203400', '195990', '003800', '088800', '241840', '364950', '453860', '312610', '172670', '481070', '445090', '295310', '072990', '044990', '239610', '036170', '462020', '477340', '148930', '376270', '044780', '357230', '355690', '071670', '045660', '224110', '021080', '200470', '262260', '397030', '230240', '159910', '230360', '038870', '097780', '448280', '101360', '128540', '086520', '247540', '383310', '038110', '073540', '064850', '036810', '173940', '083500', '054940', '950130', '373110', '205100', '356680', '070300', '317770', '373200', '069920', '092870', '317870', '067570', '236810', '333620', '101400', '475230', '078860', '451700', '466910', '481890', '265740', '354200', '455900', '419080', '208860', '183490', '182400', '348370', '069410', '227950', '291230', '048830', '096870', '290650', '156100', '0041J0', '073110', '083310', '037950', '489500', '170920', '058630', '226590', '058970', '169330', '373170', '179290', '009780', '123040', '432980', '413390', '032790', '033160', '347890', '033310', '259630', '105550', '060850', '143540', '265560', '036000', '250930', '053280', '122640', '476040', '900300', '045060', '192410', '080520', '039830', '322310', '046120', '475830', '014940', '065500', '010470', '417860', '352910', '053980', '036220', '052420', '052300', '039200', '226400', '031510', '368970', '138080', '080580', '067170', '353590', '173130', '440320', '049480', '394280', '309930', '476060', '382150', '244460', '226950', '057540', '131030', '082210', '109080', '380540', '153710', '432430', '338840', '122990', '232140', '112290', '065530', '067900', '007530', '155650', '273640', '251370', '209640', '096250', '273060', '019210', '122870', '079000', '403490', '032820', '041190', '115440', '046970', '082850', '215360', '072470', '073560', '037400', '153490', '101170', '066590', '103840', '101970', '046940', '215380', '065680', '018620', '457550', '396470', '307280', '032940', '240810', '074600', '104830', '014190', '217820', '030530', '012620', '136150', '382840', '336570', '376980', '008370', '008290', '101160', '336060', '095270', '289930', '065950', '076080', '043590', '196700', '069080', '053580', '479960', '377460', '044340', '330350', '348350', '112040', '101730', '123420', '065370', '038620', '299900', '036090', '459100', '136540', '097800', '192390', '335870', '900340', '036200', '018000', '203450', '011320', '086390', '241690', '142210', '389680', '088340', '048430', '206650', '089850', '084440', '032620', '264450', '078070', '024800', '054930', '069330', '049520', '444920', '446150', '449020', '450940', '473050', '474490', '493790', '263770', '388720', '340930', '023410', '056080', '468760', '488060', '084370', '240600', '221800', '179900', '263050', '191410', '372170', '146060', '072770', '039020', '067920', '044960', '303530', '296640', '302430', '462350', '274400', '073490', '215790', '344860', '088390', '272290', '053350', '452400', '264850', '054210', '009730', '065440', '424870', '115610', '478110', '131400', '351330', '080010', '086890', '047560', '900110', '239340', '067010', '456070', '102710', '041520', '063760', '123570', '083470', '095190', '091120', '039030', '294090', '088290', '353810', '099750', '377330', '035810', '092130', '096040', '134060', '001840', '024810', '041830', '352940', '079950', '389470', '277410', '060150', '033230', '450520', '465480', '037330', '100030', '211050', '083640', '064090', '216050', '049070', '119610', '017250', '051370', '064290', '189300', '287840', '150840', '048530', '115310', '039290', '071200', '101930', '333430', '068330', '178780', '019540', '094820', '950140', '049550', '389020', '254120', '043910', '234920', '289220', '174880', '049630', '417840', '110020', '208140', '040420', '045510', '217190', '095700', '122310', '361390', '225220', '123330', '381620', '159580', '147830', '033100', '079370', '054950', '023440', '090470', '137950', '033320', '417500', '204270', '127120', '026040', '452160', '126880', '322510', '033050', '094970', '418550', '420570', '089790', '0010V0', '052670', '412540', '199820', '038010', '080220', '216080', '337930', '229000', '082270', '034940', '067000', '033340', '036930', '072020', '000440', '051980', '228760', '314130', '389030', '263860', '303030', '036180', '208350', '446840', '144510', '340450', '358570', '382480', '382800', '051160', '053050', '388610', '119850', '065060', '204840', '311320', '456160', '388050', '018120', '109820', '086060', '036890', '363250', '007370', '285800', '085660', '261780', '351870', '094850', '004650', '278280', '362320', '066360', '047820', '094360', '016920', '284620', '293490', '140430', '042000', '313760', '317530', '071850', '198080', '210120', '050110', '452300', '451760', '900310', '078340', '063080', '307930', '079190', '263700', '214370', '221980', '038530', '192250', '431190', '115500', '089150', '025880', '093320', '093640', '073010', '105330', '053080', '199430', '432470', '272110', '039420', '083550', '032500', '225430', '102370', '068100', '106080', '455180', '036030', '064820', '024880', '042040', '054410', '258610', '274090', '089010', '220260', '052400', '402030', '391710', '046070', '047770', '080530', '104540', '027050', '190650', '123410', '036690', '049430', '183300', '041960', '089890', '360350', '082660', '222040', '241710', '355150', '166480', '045970', '196450', '384470', '102940', '950160', '033290', '056360', '282880', '121850', '448710', '126730', '015710', '052330', '322780', '200130', '294570', '317690', '227100', '432720', '365270', '348080', '060280', '372320', '051780', '115180', '445680', '182360', '405100', '066310', '016600', '355390', '096240', '040350', '110790', '900250', '045520', '214150', '466100', '237880', '139670', '475430', '487720', '489480', '054780', '256940', '219130', '336680', '360070', '065130', '134580', '023160', '323280', '053620', '044490', '124560', '191420', '073640', '066700', '095610', '064520', '089030', '054450', '200230', '393210', '475960', '215480', '051360', '045340', '108230', '079970', '199800', '417790', '290090', '026150', '464280', '117730', '033830', '057680', '204610', '125020', '064760', '246710', '340570', '043220', '277880', '131290', '425420', '484810', '131100', '356860', '321550', '425040', '241790', '022220', '104480', '081150', '130740', '084730', '440110', '288330', '033540', '388870', '043200', '214450', '208340', '177830', '037070', '150900', '037030', '047310', '368770', '170790', '049120', '038950', '387570', '441270', '106240', '131760', '065690', '140860', '091700', '032800', '318010', '027710', '225590', '054300', '068050', '222110', '271830', '263750', '251970', '168360', '087010', '064800', '119500', '389140', '105760', '009520', '189690', '318020', '256630', '331380', '208710', '472850', '039980', '041910', '234100', '041020', '114630', '290720', '005670', '094940', '057880', '007330', '093380', '023900', '371950', '370090', '445180', '151910', '220100', '035200', '334970', '321260', '053610', '468530', '303360', '377220', '335810', '053160', '405000', '041590', '367000', '075130', '237820', '023770', '019570', '300080', '033790', '032580', '051380', '241820', '452450', '237750', '460940', '319660', '031980', '002230', '043370', '239890', '347740', '137400', '257370', '147760', '128660', '006140', '376180', '304840', '087600', '291810', '378340', '161580', '347770', '163730', '417180', '446750', '448370', '454750', '454640', '469880', '469900', '475240', '475250', '484130', '0041L0', '299030', '067310', '166090', '136480', '003380', '450330', '101670', '365590', '149980', '013030', '126700', '450050', '160190', '221840', '106190', '065650', '066130', '004590', '039340', '034950', '222980', '256840', '219750', '025550', '017890', '080720', '041460', '101680', '039740', '053300', '025770', '458610', '464440', '479880', '062970', '023760', '054040', '021650', '032300', '037230', '448900', '030520', '052600', '256150', '092460', '125490', '452190', '047080', '452280', '066980', '114810', '070590', '042520', '430690', '078350', '045100', '320000', '091440', '276730', '024740', '005860', '007770', '198940', '058450', '107640', '079170', '054920', '457370', '002680', '098070', '455310', '498390', '034810', '03481K', '059270', '076610', '220180', '900270', '214180', '234340', '084990', '187660', '170030', '319400', '048410', '052260', '016790', '041440', '039010', '090850', '460930', '092300', '138360', '011080', '308100', '064240', '039610', '126640', '127980', '061250', '097870', '290270', '353190', '090710', '078590', '205470', '115160', '028080', '175140', '200670', '065510', '263920', '243070', '084110', '145020', '024060', '010240', '189980', '037440', '238490']

In [6]:
t0 = stock.get_market_ticker_list("19950502")
t1 = stock.get_market_ticker_list("20210930")
print(len(t0), len(t1))

927 938

In [7]:
intersection = set(t0) & set(t1)
print(len(intersection))

complement = set(t1) - set(t0)
print(len(complement))

449
489

In [8]:
tickers = stock.get_index_ticker_list("20190225")
print(tickers)

['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1024', '1025', '1026', '1027', '1028', '1034', '1035', '1150', '1151', '1152', '1153', '1154', '1155', '1156', '1157', '1158', '1159', '1160', '1167', '1182', '1224', '1227', '1232', '1244', '1894']

In [45]:
for t in tickers:
    name = stock.get_index_ticker_name(t)
    print(t, name)

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1022 은행
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

## 9.4 OHLCV 조회

In [2]:
from pykrx import stock

df = stock.get_market_ohlcv("20190501", "20190531", "005930")
df.head()

               시가     고가     저가     종가       거래량
날짜
2019-05-02  45500  46150  45400  45900   8625126
2019-05-03  45900  46050  45300  45300   6562916
2019-05-07  45250  45300  44400  44850  12014907
2019-05-08  44300  44850  44200  44250  10398754
2019-05-09  43900  44250  42450  42450  23029718

In [3]:
df = stock.get_market_ohlcv("20180810", "20181212", "005930", "m")
df.head()

               시가     고가     저가     종가        거래량
날짜
2018-08-31  46150  48450  43500  48450  135518029
2018-09-30  48200  48300  44000  46450  197984482
2018-10-31  46450  46800  40400  42400  234645485
2018-11-30  42450  45250  41750  41850  205923404
2018-12-31  42750  43400  40000  40450  102330648

In [5]:
df = stock.get_market_ohlcv("20180401", "20181212", "005930", adjusted=False)
df.head()

                 시가       고가       저가       종가     거래량          거래대금   등락률
날짜
2018-04-02  2450000  2461000  2425000  2427000  142313  346383448000 -1.38
2018-04-03  2394000  2407000  2364000  2406000  255365  609108588000 -0.87
2018-04-04  2408000  2413000  2346000  2346000  247684  586682025000 -2.49
2018-04-05  2370000  2469000  2367000  2437000  264912  642625208000  3.88
2018-04-06  2400000  2429000  2370000  2420000  250654  603210892000 -0.70

In [6]:
df = stock.get_market_ohlcv("20210104")
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    4615    4650    4530    4580   344232   1575110755 -0.76
006840   25900   25900   25200   25250    92861   2353486200  0.40
027410    4895    4990    4845    4990   541483   2669964780  1.94
282330  134000  134000  132000  132000    47745   6345111000 -2.58
138930    5650    5660    5510    5560  2067437  11474411600 -2.11

In [7]:
df = stock.get_market_ohlcv("20210101", prev=True)
df.head()

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    4660    4695    4600    4615   120954    560421850 -0.97
006840   25300   25350   25000   25150    89368   2252587900  0.20
027410    4925    4930    4835    4895   469185   2291176695 -1.21
282330  133500  135500  132500  135500    25983   3485099000  1.50
138930    5680    5690    5560    5680  1947256  10955767300  0.18

In [ ]:
import time 

tickers = stock.get_market_ticker_list()
for t in tickers:
    df = stock.get_market_ohlcv("20210101", "20210131", t)
    df.to_excel(f"{t}.xlsx")
    time.sleep(1)

In [ ]:
import time 

tickers = stock.get_index_ticker_list()
for t in tickers:
    df = stock.get_index_ohlcv("20210101", "20210131", t)
    df.to_excel(f"{t}.xlsx")
    time.sleep(1)

## 9.5 BPS/PER/PBR/EPS/DIV/DPS

In [12]:
df = stock.get_market_fundamental("20210108")
df.head()

          BPS        PER       PBR   EPS       DIV   DPS
티커
095570   6802   4.621094  0.669922   982  6.609375   300
006840  62448  11.687500  0.409912  2168  2.960938   750
027410  15699  17.453125  0.310059   281  2.240234   110
282330  36022  16.093750  3.910156  8763  1.910156  2700
138930  25415   3.509766  0.229980  1647  6.230469   360

In [54]:
df.sort_values("PER")

          BPS     PER   PBR  EPS  DIV  DPS
티커
003280    276    0.00  0.93    0 0.00    0
009320    775    0.00  3.70    0 0.00    0
105840   5704    0.00  0.77    0 2.26  100
049800   5263    0.00  1.16    0 0.00    0
016880    917    0.00  1.20    0 0.00    0
...       ...     ...   ...  ...  ...  ...
013000   1387 1025.00  2.22    3 0.00    0
017550   1859 1030.00  1.66    3 0.32   10
071090  63833 1241.00  0.31   16 0.50  100
012200   5425 1248.00  0.92    4 0.70   35
019170   3782 3758.00 34.78   35 0.00    0

[895 rows x 6 columns]

In [62]:
df.query("PER != 0").sort_values("PER")

          BPS     PER   PBR    EPS   DIV   DPS
티커
097230   2943    1.39  2.44   5185  0.00     0
003960  34643    1.44  0.51  12182  0.86   150
084670  45514    2.02  0.54  12104 19.22  4700
018500   1363    2.24  0.58    350  0.00     0
015020   1141    2.28  0.61    307  0.00     0
...       ...     ...   ...    ...   ...   ...
013000   1387 1025.00  2.22      3  0.00     0
017550   1859 1030.00  1.66      3  0.32    10
071090  63833 1241.00  0.31     16  0.50   100
012200   5425 1248.00  0.92      4  0.70    35
019170   3782 3758.00 34.78     35  0.00     0

[563 rows x 6 columns]

In [13]:
df = stock.get_market_fundamental("20210104", "20210108", "005930")
df.head()

              BPS    PER   PBR   EPS   DIV   DPS
날짜
2021-01-04  37528  26.22  2.21  3166  1.71  1416
2021-01-05  37528  26.50  2.24  3166  1.69  1416
2021-01-06  37528  25.96  2.19  3166  1.72  1416
2021-01-07  37528  26.18  2.21  3166  1.71  1416
2021-01-08  37528  28.05  2.37  3166  1.59  1416

## 9.6 다양한 PYKRX의 함수

In [ ]:
from pykrx import stock

df = stock.get_market_price_change("20190101", "20191231")
df.head()

           종목명      시가      종가    변동폭    등락률       거래량           거래대금
티커
095570  AJ네트웍스    4505    4970    465  10.32  18521726    94103477810
068400   AJ렌터카   12300   11800   -500  -4.07  32564489   374842155180
006840   AK홀딩스   54000   34600 -19400 -35.93   6710371   280920153450
027410     BGF    8070    5600  -2470 -30.61  48088894   347248681930
282330  BGF리테일  204000  169500 -34500 -16.91   6382079  1240477289536

In [16]:
df = stock.get_market_cap("20190102")
df.head()

            종가             시가총액      거래량          거래대금       상장주식수
티커
005930   38750  231329073812500  7847664  304682623050  5969782550
000660   60600   44116943319000  1934295  117458798300   728002365
068270  214500   26910340528500  1045357  228573134000   125456133
005935   31600   26003219720000   944879   30203996650   822886700
207940  374000   24745710000000   148344   56542769500    66165000

In [18]:
df = stock.get_market_cap("20190101")
df.head()

            종가             시가총액      거래량          거래대금       상장주식수
티커
005930   38750  231329073812500  7847664  304682623050  5969782550
000660   60600   44116943319000  1934295  117458798300   728002365
068270  214500   26910340528500  1045357  228573134000   125456133
005935   31600   26003219720000   944879   30203996650   822886700
207940  374000   24745710000000   148344   56542769500    66165000

In [20]:
df = stock.get_market_cap("20190101", prev=True)
df.head()

            종가             시가총액      거래량          거래대금       상장주식수
티커
005930   38700  231030584685000  9900267  382575637240  5969782550
000660   60500   44044143082500  1647462  100586317600   728002365
068270  222500   27913989592500  1098718  243957028500   125456133
005935   31750   26126652725000   863411   27222988450   822886700
207940  386500   25572772500000   256133   99632653500    66165000

In [17]:
import pandas as pd

df = stock.get_market_cap("20000104")
s0 = df['시가총액'].sort_values(ascending=False).iloc[:5]

df = stock.get_market_cap("20190102")
s1 = df['시가총액'].sort_values(ascending=False).iloc[:5]

data = [s0.reset_index(), s1.reset_index()]
df = pd.concat(data, keys=["2000년도", "2019년도"], axis=1)
df.head()

   2000년도                  2019년도
       티커            시가총액      티커             시가총액
0  030200  52761742371000  005930  231329073812500
1  005930  45775746373500  000660   44116943319000
2  032390  32953692333000  068270   26910340528500
3  017670  31675945000000  005935   26003219720000
4  015760  23036081220000  207940   24745710000000

## 9.7 FinanceDataReader

In [3]:
!pip install -U finance-datareader

Requirement already satisfied: finance-datareader in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (0.9.31)
Requirement already satisfied: requests-file in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: tqdm in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.59.0)
Requirement already satisfied: pandas>=0.19.2 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from finance-datareader) (1.2.4)
Requirement already satisfied: lxml in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: requests>=2.3.0 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (1.20.1)
Requirement already satisfied: six>=1.5 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/brayden/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2.10)

In [5]:
import FinanceDataReader as fdr

df = fdr.DataReader(symbol="005930")
df

             Open   High    Low  Close    Volume    Change
Date
1997-09-13   1274   1277   1252   1269     28990       NaN
1997-09-18   1268   1283   1259   1274     77880  0.003940
1997-09-19   1276   1276   1242   1251     66390 -0.018053
1997-09-20   1249   1249   1215   1233     45700 -0.014388
1997-09-22   1227   1242   1209   1212     59140 -0.017032
...           ...    ...    ...    ...       ...       ...
2021-10-01  73900  74000  72900  73200  15803395 -0.012146
2021-10-05  73000  73000  71400  72200  24013921 -0.013661
2021-10-06  72600  72800  71200  71300  18956962 -0.012465
2021-10-07  71600  72100  71300  71600  13683532  0.004208
2021-10-08  72300  72400  71500  71500  13969443 -0.001397

[6000 rows x 6 columns]

In [6]:
df = fdr.DataReader(symbol="AAPL", start="2017")
df

             Close    Open    High     Low       Volume  Change
Date
2017-01-03   29.04   28.95   29.08   28.69  115130000.0  0.0031
2017-01-04   29.00   28.96   29.13   28.94   84470000.0 -0.0014
2017-01-05   29.15   28.98   29.22   28.95   88770000.0  0.0052
2017-01-06   29.48   29.20   29.54   29.12  127010000.0  0.0113
2017-01-09   29.75   29.49   29.86   29.48  134250000.0  0.0092
...            ...     ...     ...     ...          ...     ...
2021-10-04  139.14  141.76  142.21  138.27   97900000.0 -0.0246
2021-10-05  141.11  139.49  142.24  139.36   80580000.0  0.0142
2021-10-06  142.00  139.47  142.15  138.37   82620000.0  0.0063
2021-10-07  143.29  143.06  144.21  142.72   61410000.0  0.0091
2021-10-08  142.90  144.03  144.18  142.56   58770000.0 -0.0027

[1201 rows x 6 columns]

In [7]:
kospi = fdr.DataReader(symbol="KS11", start="2000")
kosdaq = fdr.DataReader(symbol="KQ11", start="2000")

In [10]:
kospi

              Close     Open     High      Low       Volume  Change
Date
2000-01-04  1059.04  1028.33  1066.18  1016.59  195900000.0  0.0301
2000-01-05   986.31  1006.87  1026.52   984.05  257700000.0 -0.0687
2000-01-06   960.79  1013.95  1014.90   953.50  203520000.0 -0.0259
2000-01-07   948.65   949.17   970.16   930.84  215660000.0 -0.0126
2000-01-10   987.24   979.67   994.94   965.02  240180000.0  0.0407
...             ...      ...      ...      ...          ...     ...
2021-10-01  3019.18  3056.21  3062.60  3015.01  855480000.0 -0.0162
2021-10-05  2962.17  2998.17  2998.17  2940.59  840560000.0 -0.0189
2021-10-06  2908.31  2986.06  2993.47  2908.30  901720000.0 -0.0182
2021-10-07  2959.46  2936.87  2961.53  2927.60  595380000.0  0.0176
2021-10-08  2956.30  2977.82  2978.08  2949.01  668950000.0 -0.0011

[5375 rows x 6 columns]

In [9]:
kosdaq

             Close    Open     High     Low        Volume  Change
Date
2001-01-02  557.00  502.50   559.60  502.50  2.012100e+05  0.0593
2001-01-03  569.00  545.80   579.90  539.30  2.849900e+05  0.0215
2001-01-04  615.10  617.70   621.50  609.00  2.331300e+05  0.0810
2001-01-05  625.20  614.50   630.70  602.50  3.672300e+05  0.0164
2001-01-08  650.00  614.90   657.00  614.00  3.586200e+05  0.0397
...            ...     ...      ...     ...           ...     ...
2021-10-01  983.20  998.70  1002.68  982.26  1.370000e+09 -0.0200
2021-10-05  955.37  974.24   974.24  950.09  1.350000e+09 -0.0283
2021-10-06  922.36  962.62   967.67  922.36  1.650000e+09 -0.0346
2021-10-07  953.43  932.65   953.48  932.32  1.350000e+09  0.0337
2021-10-08  953.11  959.81   961.72  948.02  1.340000e+09 -0.0003

[5135 rows x 6 columns]

In [31]:
# =========================================
# 0) 라이브러리 임포트 & 날짜 설정
# =========================================
from pykrx import stock
import pandas as pd

start = "20240101"   # 시작일(YYYYMMDD)
end   = "20240930"   # 종료일(YYYYMMDD)
mk    = "KOSPI"      # "KOSPI" 또는 "KOSDAQ"

# =========================================
# 1) 티커 조회 & 이름 붙이기
# =========================================
# TODO 1-1) 특정 시장(mk)의 티커 리스트를 가져와 tickers에 저장
tickers = stock.get_market_ticker_list(market=mk)


# TODO 1-2) 위에서 가져온 tickers 중 앞에서 5개만 이름과 함께 DataFrame으로 만들기
# 힌트: stock.get_market_ticker_name(ticker)

ticker_name = {}
print("샘플 티커 5개:")
for ticker in tickers[:5]:
    sample = stock.get_market_ticker_name(ticker)
    ticker_name.update({ticker : sample})
    print(ticker, sample)
print(ticker_name)
df = pd.DataFrame(ticker_name.items(), columns=["티커", "종목명"])
display(df)

# =========================================
# 2) OHLCV 조회 (단일 종목)
# =========================================
# TODO 2-1) 아무 티커 하나 고르고(예: sample의 첫 행) 그 티커의 OHLCV를 ohlcv에 저장
# 힌트: stock.get_market_ohlcv_by_date(start, end, ticker, adjusted=True)
ticker = df.iloc[0,0]
ohlcv = stock.get_market_ohlcv_by_date(start, end, ticker, adjusted=True)
print("OHLCV(head):\n", ohlcv.head())

# TODO 2-2) 수익률(일간) 컬럼 'ret' 추가: 종가.pct_change()
ohlcv["ret"] = ohlcv["종가"].pct_change()
print("수익률 통계:\n", ohlcv["ret"].describe())

# =========================================
# 3) 펀더멘털(BPS/PER/PBR/EPS/DIV/DPS) 조회
# =========================================
# TODO 3-1) 위 ticker에 대한 펀더멘털을 fundamental에 저장
# 힌트: stock.get_market_fundamental_by_date(start, end, ticker)
fundamental = stock.get_market_fundamental_by_date(start, end, ticker)
print("펀더멘털(head):\n", fundamental.head())

# TODO 3-2) PER < 15 & PBR < 1.5 인 날짜만 필터링해 value_days에 저장
value_days = fundamental.loc[(fundamental["PER"] < 15) & (fundamental["PBR"] < 1.5)]
print("밸류 조건 일자 수:", len(value_days))

# =========================================
# 4) 멀티 티커 포트폴리오 프레임 만들기
# =========================================
# TODO 4-1) tickers에서 앞 3개를 선택해 멀티 종목 종가만 묶은 DataFrame 'close_wide' 만들기
#  - 각 종목의 종가를 열로, 날짜를 인덱스로 (outer join으로 날짜 정렬)
# 힌트: 루프 + pd.concat(axis=1)
sel = tickers[:3]
close_wide = pd.concat(
    [stock.get_market_ohlcv_by_date(start, end, t, adjusted=True)["종가"].rename(t) 
     for t in sel], axis=1
)
print("멀티 종목 종가(head):\n", close_wide.head())

# TODO 4-2) 각 종목 일간 수익률로 변환해 ret_wide에 저장 (pct_change)
ret_wide = close_wide.pct_change()
print("멀티 종목 수익률(head):\n", ret_wide.head())

# TODO 4-3) 동일가중(각 1/len(sel)) 포트폴리오 수익률 'pf_ret' 시리즈 만들기 (행 평균)
pf_ret = ret_wide.mean(axis=1)
print("포트폴리오 수익률(head):\n", pf_ret.head())

# =========================================
# 5) 응용: 이동평균 & 신호
# =========================================
# TODO 5-1) 단일 종목(위 ticker)의 5일, 20일 이동평균(ma5, ma20) 추가
ohlcv["ma5"] = ohlcv["종가"].rolling(window=5).mean()
ohlcv["ma20"] = ohlcv["종가"].rolling(window=20).mean()

# TODO 5-2) 매수 신호: ma5가 ma20을 위로 돌파하는 날(True), 아니면 False → 'buy' 컬럼
# 힌트: (ma5 > ma20) & (어제 ma5 <= 어제 ma20). shift(1) 활용
ohlcv["buy"] = (ohlcv["ma5"] > ohlcv["ma20"]) & (ohlcv["ma5"].shift(1) <= ohlcv["ma20"].shift(1))
print("매수 신호(head 15):\n", ohlcv[["종가", "ma5", "ma20", "buy"]].head(15))

# TODO 5-3) 신호를 다음날 수익률에 적용하여 'strategy_ret' 계산
# 힌트: ohlcv["ret"].shift(-1) * ohlcv["buy"]
ohlcv["strategy_ret"] = ohlcv["ret"].shift(-1) * ohlcv["buy"]
cum = (1 + ohlcv["strategy_ret"].fillna(0)).cumprod() - 1
print("전략 누적수익률(마지막):", cum.dropna().iloc[-1])

샘플 티커 5개:
095570 AJ네트웍스
006840 AK홀딩스
027410 BGF
282330 BGF리테일
138930 BNK금융지주
{'095570': 'AJ네트웍스', '006840': 'AK홀딩스', '027410': 'BGF', '282330': 'BGF리테일', '138930': 'BNK금융지주'}

       티커      종목명
0  095570   AJ네트웍스
1  006840    AK홀딩스
2  027410      BGF
3  282330   BGF리테일
4  138930  BNK금융지주

OHLCV(head):
               시가    고가    저가    종가     거래량       등락률
날짜
2024-01-02  4880  5190  4870  5150  275517  3.413655
2024-01-03  5140  5320  5040  5200  427524  0.970874
2024-01-04  5200  5290  5100  5220  219508  0.384615
2024-01-05  5270  5290  5070  5280  410628  1.149425
2024-01-08  5190  5280  5110  5140  203631 -2.651515
수익률 통계:
 count    182.000000
mean      -0.000387
std        0.016777
min       -0.049805
25%       -0.011273
50%       -0.001030
75%        0.007745
max        0.066742
Name: ret, dtype: float64
펀더멘털(head):
              BPS    PER   PBR  EPS   DIV  DPS
날짜
2024-01-02  8076  25.62  0.64  201  5.24  270
2024-01-03  8076  25.87  0.64  201  5.19  270
2024-01-04  8076  25.97  0.65  201  5.17  270
2024-01-05  8076  26.27  0.65  201  5.11  270
2024-01-08  8076  25.57  0.64  201  5.25  270
밸류 조건 일자 수: 101
멀티 종목 종가(head):
             095570  006840  027410
날짜
2024-01-02    5150   17090    3850
2024-01-03    5200   17000    3765
2024-01-04    5220   16970    3730
2024-01-05    5280   16960    3650
2024-01-08    5140   16880    3805
멀티 종목 수익률(head):
               095570    006840    027410
날짜
2024-01-02       NaN       NaN       NaN
2024-01-03  0.009709 -0.005266 -0.022078
2024-01-04  0.003846 -0.001765 -0.009296
2024-01-05  0.011494 -0.000589 -0.021448
2024-01-08 -0.026515 -0.004717  0.042466
포트폴리오 수익률(head):
 날짜
2024-01-02         NaN
2024-01-03   -0.005878
2024-01-04   -0.002405
2024-01-05   -0.003514
2024-01-08    0.003745
dtype: float64
매수 신호(head 15):
               종가     ma5  ma20    buy
날짜
2024-01-02  5150     NaN   NaN  False
2024-01-03  5200     NaN   NaN  False
2024-01-04  5220     NaN   NaN  False
2024-01-05  5280     NaN   NaN  False
2024-01-08  5140  5198.0   NaN  False
2024-01-09  5020  5172.0   NaN  False
2024-01-10  5030  5138.0   NaN  False
2024-01-11  4945  5083.0   NaN  False
2024-01-12  4940  5015.0   NaN  False
2024-01-15  4800  4947.0   NaN  False
2024-01-16  4750  4893.0   NaN  False
2024-01-17  4705  4828.0   NaN  False
2024-01-18  4660  4771.0   NaN  False
2024-01-19  4635  4710.0   NaN  False
2024-01-22  4600  4670.0   NaN  False
전략 누적수익률(마지막): 0.08615210721319899

In [ ]:
from pykrx import stock
import pandas as pd

# =========================================
# 0) 준비
# =========================================
start = "20250101"
end   = "20250630"
market = "KOSPI"

# =========================================
# 1) 종목 선택
# =========================================
tickers = stock.get_market_ticker_list(end, market=market)
sample = pd.DataFrame({
    "코드": tickers[:3],
    "이름": [stock.get_market_ticker_name(t) for t in tickers[:3]]
})
print("샘플 종목 3개:\n", sample)

# 하나만 골라서 사용
ticker = sample["코드"].iloc[0]

# =========================================
# 2) 시세 데이터 가져오기
# =========================================
ohlcv = stock.get_market_ohlcv_by_date(start, end, ticker, adjusted=True)
print("시세 데이터:\n", ohlcv.head())

# 종가 기준으로 변화율(=수익률) 계산
ohlcv["수익률"] = ohlcv["종가"].pct_change()

# =========================================
# 3) 이동평균선 만들기
# =========================================
# 5일, 20일 이동평균 → 단기/중기 흐름 비교
ohlcv["5일평균"] = ohlcv["종가"].rolling(5).mean()
ohlcv["20일평균"] = ohlcv["종가"].rolling(20).mean()

# =========================================
# 4) 매수 신호 만들기
# =========================================
# 🤔 왜 만들까?
# - 가격이 단기간(5일평균)과 장기간(20일평균)을 비교했을 때
#   단기간 평균이 장기간 평균을 "위로 뚫고 올라가는 순간"을 
#   간단한 매수 시점으로 잡아보는 것입니다.
# - 이 조건을 True/False로 기록해두면 나중에 "언제 샀다"를 쉽게 추적할 수 있습니다.
# 📝 어떻게 만들까?
# 1) 오늘: 5일평균 > 20일평균
# 2) 어제: 5일평균 <= 20일평균
# 3) 두 조건이 동시에 맞을 때 → True (매수신호)
ohlcv["매수신호"] = (ohlcv["5일평균"] > ohlcv["20일평균"]) & \
                  (ohlcv["5일평균"].shift(1) <= ohlcv["20일평균"].shift(1))

print("매수 신호 예시:\n", ohlcv[["종가","5일평균","20일평균","매수신호"]].head(30))

# =========================================
# 5) 전략 수익률 계산
# =========================================
# 🤔 왜 만들까?
# - 신호가 True인 날은 "오늘 매수했다"라는 뜻입니다.
# - 하지만 매수 후의 수익은 "다음날부터" 발생합니다.
#   → 따라서 신호가 True인 날에는 다음날 수익률을 전략 수익률로 기록해야 합니다.

# 📝 어떻게 만들까?
# 1) ohlcv["수익률"].shift(-1) → 수익률을 하루 뒤로 당겨서 "다음날 수익률"로 만듭니다.
# 2) 여기에 매수신호(True=1, False=0)를 곱합니다.
#    → 신호가 있으면 다음날 수익률 반영, 신호가 없으면 0.
ohlcv["전략수익률"] = ohlcv["수익률"].shift(-1) * ohlcv["매수신호"].astype(float)

# 누적 수익률 계산
ohlcv["누적수익률"] = (1 + ohlcv["전략수익률"].fillna(0)).cumprod() - 1

print("누적 수익률 마지막 값:", ohlcv["누적수익률"].dropna().iloc[-1])

In [35]:
from pykrx import stock
import pandas as pd
import numpy as np

# =========================================
# 0) 준비
# =========================================
start = "20250101"   # 시작 날짜 (예: 2025년 1월 1일)
end   = "20250630"   # 끝 날짜   (예: 2025년 6월 30일)
market = "KOSPI"     # 시장 종류 ("KOSPI" 또는 "KOSDAQ")
short_n = 5          # 짧은 이동평균(며칠 평균?)
long_n  = 20         # 긴   이동평균(며칠 평균?)
fee_bp  = 0.0005     # 거래 비용 비율(예: 0.05% → 0.0005)

# =========================================
# 1) 종목 고르기 (3개만 사용)
# =========================================
tickers = stock.get_market_ticker_list(end, market=market)
# TODO 1-1) 위 리스트에서 앞 3개만 골라 sel 변수에 담아보세요.
sel = tickers[:3]

# (보조) 코드 → 종목명 매핑
names = {t: stock.get_market_ticker_name(t) for t in sel}
print("선택 종목:", {t: names[t] for t in sel})

# =========================================
# 2) 전략 함수 만들기
# =========================================
def make_signal_df(ticker, start, end, short_n=5, long_n=20, fee_bp=0.0,
                   use_stop=True, stop_loss=-0.05, take_profit=0.10):
    df = stock.get_market_ohlcv_by_date(start, end, ticker, adjusted=True).copy()
    if df.empty or "종가" not in df.columns:
        raise ValueError(f"{ticker}: 데이터가 없거나 '종가'가 없습니다.")
    
    # 2-1) 기본 계산
    df["ret"]  = df["종가"].pct_change()
    # TODO 2-1) 짧은선/긴선 이동평균을 계산해 'ma_s', 'ma_l' 컬럼에 저장하세요.
    df["ma_s"] = df["종가"].rolling(window=short_n).mean()
    df["ma_l"] = df["종가"].rolling(window=long_n).mean()
    
    # 2-2) 매수 신호
    cross_today = df["ma_s"] > df["ma_l"]
    cross_yday  = df["ma_s"].shift(1) <= df["ma_l"].shift(1)
    df["buy_sig"] = cross_today & cross_yday
    
    # 2-3) 보유 상태 만들기
    
    df["pos"] = 0
    holding = 0
    entry_price = np.nan
    
    cross_down_today = df["ma_s"] <= df["ma_l"]
    cross_down_yday  = df["ma_s"].shift(1) >  df["ma_l"].shift(1)
    
    for i in range(len(df)):
        if holding == 0 and df["buy_sig"].iloc[i]:
            holding = 1
            entry_price = df["종가"].iloc[i]
        elif holding == 1 and not np.isnan(entry_price):
            if use_stop:
                pnl = (df["종가"].iloc[i] / entry_price) - 1
                # TODO 2-3) 손절/익절 조건(pnl <= stop_loss 또는 pnl >= take_profit)이면 보유 종료하세요.
                if pnl <= stop_loss or pnl >= take_profit:
                    holding = 0
                    entry_price = np.nan
        if holding == 1 and cross_down_today.iloc[i] and cross_down_yday.iloc[i]:
            holding = 0
            entry_price = np.nan
        df.at[df.index[i], "pos"] = holding
    
    # 2-4) 전략 수익률
    # 🤔 룩어헤드(look-ahead bias)란?
    #   - "내가 미래를 미리 알고 매매한 것처럼 계산하는 오류"를 말합니다.
    #   - 예: 오늘 신호가 나왔는데, 오늘 종가를 기준으로 수익을 기록하면
    #         실제 매매에서는 불가능한 '미래 정보'를 사용한 꼴이 됩니다.
    #   - 따라서 "신호가 나온 다음 날"부터 수익을 기록해야 현실적입니다.
    raw_strategy = df["ret"].shift(-1) * df["pos"]
    
    # 2-5) 거래비용 반영
    trade = df["pos"].diff().abs().fillna(0)
    # TODO 2-5) 비용 차감 반영: strategy = raw_strategy - trade * fee_bp
    strategy = raw_strategy - trade * fee_bp
    
    df["strategy_ret"] = strategy
    df["cum"] = (1 + df["strategy_ret"].fillna(0)).cumprod() - 1
    return df

# =========================================
# 3) 3개 종목 실행
# =========================================
# TODO 3-1) sel의 각 종목을 make_signal_df로 처리하여 res 딕셔너리에 저장하세요.
# 힌트: {티커: 데이터프레임, ...}
res = {t: make_signal_df(t, start, end, short_n, long_n, fee_bp) for t in sel}

# =========================================
# 4) 거래 기록(체결 로그)
# =========================================
def make_tradelog(df, ticker):
    log = []
    pos_prev = 0
    for i in range(len(df)):
        pos_now = int(df["pos"].iloc[i])
        if pos_prev == 0 and pos_now == 1:
            log.append({"ticker": ticker, "side": "BUY", "date": df.index[i], "price": df["종가"].iloc[i]})
        elif pos_prev == 1 and pos_now == 0:
            log.append({"ticker": ticker, "side": "SELL", "date": df.index[i], "price": df["종가"].iloc[i]})
        pos_prev = pos_now
    return pd.DataFrame(log)

# 4-1) 세 종목의 로그 합치기
# 🤔 왜 합칠까?
#   - 개별 종목마다 매매 기록을 따로 두면 전체 거래 흐름을 한눈에 보기 어렵습니다.
#   - 따라서 모든 종목의 거래 기록을 하나로 합쳐 "언제 어떤 종목을 사고팔았는지"를
#     시간순으로 쉽게 확인할 수 있게 합니다.
# TODO 4-1) 세 종목의 로그를 합쳐 logs로 만들고 출력하세요.
# 힌트: pd.concat([...], ignore_index=True)
logs = pd.concat([make_tradelog(res[t], t) for t in sel], ignore_index=True)
print("\n=== 체결 로그(샘플) ===")
print(logs.head(10))

# =========================================
# 5) 종목별 성과 요약
# =========================================
def compute_winrate(log):
    win, tot = 0, 0
    entry = None
    for _, r in log.iterrows():
        if r["side"] == "BUY":
            entry = r["price"]
        elif r["side"] == "SELL" and entry is not None:
            tot += 1
            if r["price"] > entry:
                win += 1
            entry = None
    return (win / tot) if tot > 0 else np.nan

summary = []
for t in sel:
    df = res[t]
    # TODO 5-1) 마지막 누적 수익률 구하기 (빈 경우 0.0)
    last_cum =  df["cum"].dropna().iloc[-1] if not df["cum"].dropna().empty else 0.0
    # TODO 5-2) 승률 계산하기: compute_winrate 호출
    wr = compute_winrate(make_tradelog(df, t))
    summary.append({"ticker": t, "name": names[t], "last_cum": last_cum, "winrate": wr})

summary_df = pd.DataFrame(summary).sort_values("last_cum", ascending=False)
print("\n=== 종목별 성과 비교 ===")
print(summary_df)

선택 종목: {'095570': 'AJ네트웍스', '006840': 'AK홀딩스', '027410': 'BGF'}

=== 체결 로그(샘플) ===
   ticker  side       date  price
0  095570   BUY 2025-02-13   4010
1  095570  SELL 2025-02-17   3970
2  095570   BUY 2025-02-21   4030
3  095570  SELL 2025-02-28   3880
4  095570   BUY 2025-04-15   3795
5  095570  SELL 2025-04-21   3685
6  095570   BUY 2025-04-24   3725
7  095570  SELL 2025-05-19   3620
8  095570   BUY 2025-05-29   3990
9  006840   BUY 2025-02-21  10080

=== 종목별 성과 비교 ===
   ticker    name  last_cum   winrate
1  006840   AK홀딩스  0.192533  1.000000
2  027410     BGF  0.054828  0.333333
0  095570  AJ네트웍스 -0.091130  0.000000