In [1]:
# db종류+드라이버 이름 : postgresql+psycopg2
# 접속 계정 정보 :postgres:1111
# db 서버의 위치정보: localhost
# 데이터베이스 이름 :kiwoom

from sqlalchemy import create_engine

# -----------------------------------------------------------
# db연결 정보
# db종류+db연결드라이버://username:password@host:port/dbname"
# -----------------------------------------------------------
db_url = "postgresql+psycopg2://postgres:1111@localhost:5432/kiwoom"

# -----------------------------------------------------------
# db연결 엔진 생성
# postgresql+psycopg2://username:password@host:port/dbname"
# -----------------------------------------------------------
engine = create_engine(db_url)
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/kiwoom)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
file_path = "C:\\workspace\\kiwoom-python\\4_SQL\\202503_202503_주민등록인구및세대현황_월간.csv"
df = pd.read_csv(file_path, encoding='cp949')
df.head()

,행정구역,2025년03월_총인구수,2025년03월_세대수,2025년03월_세대당 인구,2025년03월_남자 인구수,2025년03월_여자 인구수,2025년03월_남여 비율
0,서울특별시 (1100000000),"9,335,734","4,497,896",2.08,"4,504,618","4,831,116",0.93
1,서울특별시 종로구 (1111000000),"138,184","72,387",1.91,"66,450","71,734",0.93
2,서울특별시 종로구 청운효자동(1111051500),"10,986","4,915",2.24,"5,007","5,979",0.84
3,서울특별시 종로구 사직동(1111053000),"8,937","4,562",1.96,"3,940","4,997",0.79
4,서울특별시 종로구 삼청동(1111054000),"2,189","1,094",2.00,"1,049","1,140",0.92

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3913 entries, 0 to 3912
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             3913 non-null   object
 1   2025년03월_총인구수    3913 non-null   object
 2   2025년03월_세대수     3913 non-null   object
 3   2025년03월_세대당 인구  3913 non-null   float64
 4   2025년03월_남자 인구수  3913 non-null   object
 5   2025년03월_여자 인구수  3913 non-null   object
 6   2025년03월_남여 비율   3913 non-null   float64
dtypes: float64(2), object(5)
memory usage: 214.1+ KB

In [18]:
df.columns = ["행정구역", "총인구수", "세대수", "세대당 인구", "남자 인구수", "여자 인구수", "남녀 비율"]
df.head()

,행정구역,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남녀 비율
0,서울특별시 (1100000000),"9,335,734","4,497,896",2.08,"4,504,618","4,831,116",0.93
1,서울특별시 종로구 (1111000000),"138,184","72,387",1.91,"66,450","71,734",0.93
2,서울특별시 종로구 청운효자동(1111051500),"10,986","4,915",2.24,"5,007","5,979",0.84
3,서울특별시 종로구 사직동(1111053000),"8,937","4,562",1.96,"3,940","4,997",0.79
4,서울특별시 종로구 삼청동(1111054000),"2,189","1,094",2.00,"1,049","1,140",0.92

In [ ]:
df['행정구역명'] = df['행정구역'].str.split(' ').str[0]
df.head()
df.set_index()

,행정구역,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남녀 비율,행정구역명
0,서울특별시 (1100000000),"9,335,734","4,497,896",2.08,"4,504,618","4,831,116",0.93,서울특별시
1,서울특별시 종로구 (1111000000),"138,184","72,387",1.91,"66,450","71,734",0.93,서울특별시
2,서울특별시 종로구 청운효자동(1111051500),"10,986","4,915",2.24,"5,007","5,979",0.84,서울특별시
3,서울특별시 종로구 사직동(1111053000),"8,937","4,562",1.96,"3,940","4,997",0.79,서울특별시
4,서울특별시 종로구 삼청동(1111054000),"2,189","1,094",2.00,"1,049","1,140",0.92,서울특별시

In [19]:
df.to_sql('population', engine, if_exists='replace', index=False)

913

In [1]:
import selenium
import requests
import konlpy
import wordcloud
import bs4

In [6]:
query = """
    select ws.지점명, w.날짜, w.평균기온, w.최저기온, w.최고기온, EXTRACT(YEAR FROM 날짜) AS 연도, EXTRACT(month FROM 날짜) AS 월
    from weather w join weather_station ws on w.지점 = ws.지점
"""
df = pd.read_sql(query, engine)
df

         지점명          날짜  평균기온  최저기온  최고기온      연도     월
0         서울  1907-10-01  13.5   7.9  20.7  1907.0  10.0
1         서울  1907-10-02  16.2   7.9  22.0  1907.0  10.0
2         서울  1907-10-03  16.2  13.1  21.3  1907.0  10.0
3         서울  1907-10-04  16.5  11.2  22.0  1907.0  10.0
4         서울  1907-10-05  17.6  10.9  25.4  1907.0  10.0
...      ...         ...   ...   ...   ...     ...   ...
1756507  북부산  2025-03-27  16.9  14.8  19.2  2025.0   3.0
1756508  북부산  2025-03-28  12.1   8.0  16.5  2025.0   3.0
1756509  북부산  2025-03-29   7.7   1.6  12.7  2025.0   3.0
1756510  북부산  2025-03-30   5.3   1.4  11.0  2025.0   3.0
1756511  북부산  2025-03-31   6.5  -1.5  13.8  2025.0   3.0

[1756512 rows x 7 columns]

In [7]:
df.to_sql("temp", engine, if_exists="replace", index=False)

512