In [1]:
# ------------------------------------------------
# 라이브러리 import
# ------------------------------------------------

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### 데이터 수집
* 서울 열린 데이터 광장
    * https://data.seoul.go.kr/dataList/OA-14991/S/1/datasetView.do
    * 회원가입 및 로그인
    * 원하는 기간의 데이터 수집 (최근 1년)

### 데이터프레임 생성

In [1]:
# ------------------------------------------------
#  파일경로 패턴을 만족하는 여러 파일 리스트를 불러온다.
# ------------------------------------------------

import glob
file_list = glob.glob('data/LOCAL_PEOPLE_DONG/LOCAL*.csv')
file_list

['data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202404.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202405.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202406.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202407.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202408.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202409.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202410.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202411.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202412.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202501.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202502.csv',
 'data/LOCAL_PEOPLE_DONG\\LOCAL_PEOPLE_DONG_202503.csv']

In [3]:
# ------------------------------------------------
#  파일 리스트의 데이터들을 데이터프레임으로 각각 변환하여
#  데이터프레임 리스트에 추가한다.
# ------------------------------------------------

df_list = []

for file in file_list:
    df_month = pd.read_csv(file,
                     index_col=False,   # 첫번째 컬럼이 인덱스로 자동 지정되는 문제 해결
                     parse_dates = ['기준일ID'],    # datetime 자료형으로 지정할 컬럼
                     dtype={'행정동코드':'str'})    # object 자료형으로 지정할 컬럼
    df_list.append(df_month)

In [4]:
print('len:', len(df_list))

len: 12

In [5]:
for df in df_list:
    display(df.head(2))

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-04-01,0,11440585,16690.3005,489.5882,241.8582,321.7900,354.3263,503.1719,615.9802,...,750.5231,790.1085,839.8785,697.5542,790.7150,636.1098,619.3970,593.8115,441.4222,1172.2903
1,2024-04-01,0,11290640,17254.8326,265.4667,136.9782,936.3727,2108.2782,993.1308,489.6211,...,732.8108,488.7919,414.1525,376.4850,365.5632,455.2348,540.8218,412.3597,282.3098,1102.3257

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-05-01,0,11110540,3734.7155,68.6866,52.6302,341.3469,300.6130,99.0632,128.1989,...,98.0788,87.7881,119.5997,165.6914,186.7774,127.9818,139.0390,127.5617,119.2118,289.6039
1,2024-05-01,0,11530520,17189.2373,895.4136,397.2414,520.7046,299.9224,461.0142,604.5068,...,521.4702,705.8152,846.5928,837.0953,812.2302,599.6274,631.9907,554.4330,478.7187,874.7900

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-06-01,0,11110515,15064.5012,526.3518,335.3927,578.6529,362.0918,423.3428,373.9520,...,449.5309,572.7480,660.4763,676.4423,840.1702,623.9791,614.9799,544.8446,327.2646,1154.5795
1,2024-06-01,0,11110530,12135.6579,211.7727,94.1210,238.4391,318.2036,430.8536,502.1432,...,440.2347,530.1791,746.3415,535.8321,710.3134,512.4412,522.6594,413.2529,286.9292,818.4851

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-07-01,0,11740640,24502.5882,860.6543,444.4424,793.6170,546.0153,692.7026,801.0255,...,781.5383,881.4770,1185.6678,1062.7676,1138.4481,960.2420,1029.9286,808.3074,708.9547,1895.7347
1,2024-07-01,0,11710642,31915.6625,547.0209,240.0195,500.5009,707.7086,1443.0077,1904.7495,...,1926.5826,2046.3316,1936.9735,1545.9996,1249.9123,922.1153,870.8661,787.4879,603.2885,1605.4546

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-08-01,0,11620645,23991.0304,334.6861,134.0082,354.7651,1286.0566,2402.4533,1920.1646,...,2201.8174,1284.5231,904.5559,673.7322,657.6190,593.4499,727.8839,548.4594,439.2981,1239.3658
1,2024-08-01,0,11470530,18702.2208,617.5826,297.2964,495.2454,497.1716,733.8611,709.9125,...,796.2139,966.4669,993.6816,734.7736,748.7345,704.6347,776.1500,683.1417,513.8168,1440.5957

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-09-01,0,11110515,14385.0982,464.1945,295.7860,544.7136,378.9799,379.4529,377.4148,...,456.7103,451.9655,624.6533,691.8843,771.7197,692.3968,616.8001,501.5347,323.5667,1032.8741
1,2024-09-01,0,11110530,10764.6517,259.8465,115.4873,191.7147,243.9499,329.0142,352.3773,...,378.0531,469.2400,634.8861,469.3862,623.8038,457.9957,462.8543,366.5094,263.7653,757.5252

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-10-01,0,11680660,27736.7072,1608.5615,1020.1432,963.8123,436.7213,495.7893,508.1934,...,541.3792,653.7765,1301.9191,1487.0351,1696.0351,1009.8424,932.9972,779.3163,673.7876,1647.3151
1,2024-10-01,0,11620735,27943.6011,367.6497,186.1915,633.4226,2441.6645,2671.7548,1806.1475,...,2152.9721,986.4603,874.4456,622.5567,594.7830,519.6848,617.9238,512.1945,428.1681,1165.0910

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-11-01,0,11170650,14056.5206,106.5180,57.0386,458.0446,1584.1748,1356.1199,1035.6258,...,1021.9879,660.2802,507.3313,412.3809,362.9823,267.8329,278.7752,249.2182,162.3982,487.4213
1,2024-11-01,0,11140665,13128.2919,500.4399,244.5584,252.0936,300.3381,381.5861,377.3917,...,461.0259,476.0354,576.9095,509.3889,498.0146,496.4915,580.3465,524.0001,376.0031,1081.7242

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-12-01,0,11110515,14480.0398,492.8819,314.0657,522.3721,388.2390,403.4847,375.0892,...,390.6463,488.8212,685.2165,692.0542,794.1584,635.2626,592.4321,538.0315,311.2327,1075.7885
1,2024-12-01,0,11110530,11080.8647,244.6505,108.7335,207.7857,273.7385,387.6370,387.6365,...,361.0875,490.5173,572.4425,582.2647,585.3554,504.8103,438.1391,403.8694,252.7272,759.5925

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2025-01-01,0,11110515,13959.2812,481.4116,306.7564,478.2017,357.3834,397.8554,361.7199,...,414.8944,453.7294,628.7862,683.5943,727.1302,618.3577,572.4571,473.0731,344.2641,1022.5939
1,2025-01-01,0,11110530,14230.5596,343.2194,152.5419,449.6299,551.2311,564.9371,466.4311,...,589.5157,578.3579,608.6689,622.1655,724.4159,641.8814,553.9168,499.1170,270.3996,873.3966

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2025-02-01,0,11545690,8387.0890,278.2986,138.7529,143.9337,137.2644,218.6926,288.9663,...,256.9053,274.0398,401.4684,287.6065,338.1417,311.6563,335.2920,342.0369,293.4793,713.9294
1,2025-02-01,0,11710642,29386.3979,609.5843,267.4706,479.8218,614.6095,1200.5585,1743.2340,...,1521.7525,1647.5727,1801.7835,1485.3905,1183.1304,862.8664,883.1985,753.9192,518.5504,1444.0709

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2025-03-01,0,11110515,14171.2977,519.8461,331.2471,514.3903,366.7717,407.6570,380.0911,...,401.549,461.0957,701.7845,705.5819,716.7508,631.7271,600.4593,495.5255,350.1133,1052.8314
1,2025-03-01,0,11110530,11743.7357,264.1074,117.3811,194.8091,281.3030,439.8066,460.4970,...,433.445,460.9702,658.8225,581.5576,626.6887,541.7948,486.8450,430.3770,239.6948,771.5413

In [6]:
# -------------------------------------------------------------
# 데이터프레임 리스트의 데이터프레임을 하나의 데이터프레임으로 합친다.
# -------------------------------------------------------------

df_all = pd.concat(df_list, ignore_index=True)

### 데이터프레임 확인

In [7]:
display(df_all.head(3))
display(df_all.tail(3))
display(df_all.sample(3))

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,2024-04-01,0,11440585,16690.3005,489.5882,241.8582,321.7900,354.3263,503.1719,615.9802,...,750.5231,790.1085,839.8785,697.5542,790.7150,636.1098,619.3970,593.8115,441.4222,1172.2903
1,2024-04-01,0,11290640,17254.8326,265.4667,136.9782,936.3727,2108.2782,993.1308,489.6211,...,732.8108,488.7919,414.1525,376.4850,365.5632,455.2348,540.8218,412.3597,282.3098,1102.3257
2,2024-04-01,0,11260590,24836.1736,575.5669,243.5089,341.0603,962.4267,1496.3834,1380.9687,...,2043.5564,1615.6401,1424.6506,831.8179,784.6880,769.7451,859.3055,761.8320,514.3764,1342.1258

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
3714237,2025-03-31,23,11290810,28737.1532,976.8876,496.8428,713.8873,1034.2246,1045.0550,953.5513,...,1284.3664,1042.8606,1209.4969,902.2446,1048.1759,1180.0512,1137.0487,1050.4364,838.7798,2406.9983
3714238,2025-03-31,23,11290630,20935.8562,870.4937,456.1427,533.2160,676.4870,571.4078,538.9045,...,688.4542,681.9016,1000.2332,834.1445,985.4489,791.2047,941.4934,700.7734,573.4601,1373.8368
3714239,2025-03-31,23,11230750,15365.4322,477.2126,288.2674,430.5767,574.9287,468.2913,325.0093,...,632.7856,481.4357,605.5899,603.3241,670.8108,652.0026,587.7955,456.9211,385.6993,1199.1022

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
2770830,2024-12-29,6,11215840,26150.1929,795.0114,410.3837,726.7214,858.6433,976.8836,920.2740,...,957.4966,971.4476,1149.9753,1171.4078,1250.4516,917.9615,1046.8806,851.3576,629.2028,1689.9073
1966347,2024-10-11,5,11500641,15283.9821,766.5137,377.2829,291.1216,273.6077,374.6389,537.6883,...,401.0042,675.3790,670.8707,670.4696,567.6250,479.5276,604.0014,467.0563,433.1263,1324.6733
159520,2024-04-16,16,11230720,15342.9131,292.3073,162.1828,449.8990,1046.6893,753.7502,442.3576,...,829.9677,479.2887,532.9528,401.9994,463.8028,499.5044,481.2079,473.7505,349.8992,1100.8237

In [8]:
print('shape:', df_all.shape)

shape: (3714240, 32)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315456 entries, 0 to 315455
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            315456 non-null  datetime64[ns]
 1   시간대구분            315456 non-null  int64
 2   행정동코드            315456 non-null  object
 3   총생활인구수           315456 non-null  float64
 4   남자0세부터9세생활인구수    315456 non-null  float64
 5   남자10세부터14세생활인구수  315456 non-null  float64
 6   남자15세부터19세생활인구수  315456 non-null  float64
 7   남자20세부터24세생활인구수  315456 non-null  float64
 8   남자25세부터29세생활인구수  315456 non-null  float64
 9   남자30세부터34세생활인구수  315456 non-null  float64
 10  남자35세부터39세생활인구수  315456 non-null  float64
 11  남자40세부터44세생활인구수  315456 non-null  float64
 12  남자45세부터49세생활인구수  315456 non-null  float64
 13  남자50세부터54세생활인구수  315456 non-null  float64
 14  남자55세부터59세생활인구수  315456 non-null  float64
 15  남자60세부터64세생활인구수  315456 non-null  float64
 16  남자65세부터69세생활인구수  315456 non-null  float64
 17  남자70세이상생활인구수     315456 non-null  float64
 18  여자0세부터9세생활인구수    315456 non-null  float64
 19  여자10세부터14세생활인구수  315456 non-null  float64
 20  여자15세부터19세생활인구수  315456 non-null  float64
 21  여자20세부터24세생활인구수  315456 non-null  float64
 22  여자25세부터29세생활인구수  315456 non-null  float64
 23  여자30세부터34세생활인구수  315456 non-null  float64
 24  여자35세부터39세생활인구수  315456 non-null  float64
 25  여자40세부터44세생활인구수  315456 non-null  float64
 26  여자45세부터49세생활인구수  315456 non-null  float64
 27  여자50세부터54세생활인구수  315456 non-null  float64
 28  여자55세부터59세생활인구수  315456 non-null  float64
 29  여자60세부터64세생활인구수  315456 non-null  float64
 30  여자65세부터69세생활인구수  315456 non-null  float64
 31  여자70세이상생활인구수     315456 non-null  float64
dtypes: datetime64[ns](1), float64(29), int64(1), object(1)
memory usage: 77.0+ MB

In [10]:
df_all.dtypes

기준일ID              datetime64[ns]
시간대구분                       int64
행정동코드                      object
총생활인구수                    float64
남자0세부터9세생활인구수             float64
남자10세부터14세생활인구수           float64
남자15세부터19세생활인구수           float64
남자20세부터24세생활인구수           float64
남자25세부터29세생활인구수           float64
남자30세부터34세생활인구수           float64
남자35세부터39세생활인구수           float64
남자40세부터44세생활인구수           float64
남자45세부터49세생활인구수           float64
남자50세부터54세생활인구수           float64
남자55세부터59세생활인구수           float64
남자60세부터64세생활인구수           float64
남자65세부터69세생활인구수           float64
남자70세이상생활인구수              float64
여자0세부터9세생활인구수             float64
여자10세부터14세생활인구수           float64
여자15세부터19세생활인구수           float64
여자20세부터24세생활인구수           float64
여자25세부터29세생활인구수           float64
여자30세부터34세생활인구수           float64
여자35세부터39세생활인구수           float64
여자40세부터44세생활인구수           float64
여자45세부터49세생활인구수           float64
여자50세부터54세생활인구수           float64
여자55세부터59세생활인구수           float64
여자60세부터64세생활인구수           float64
여자65세부터69세생활인구수           float64
여자70세이상생활인구수              float64
dtype: object

### 월, 일 컬럼 추가

In [11]:
# ---------------------------------------
# 월, 일 컬럼 추가
# ---------------------------------------

df_all['월'] = df_all['기준일ID'].dt.month
df_all['일'] = df_all['기준일ID'].dt.day

### 요일 컬럼 추가
* `dt.dayofweek` : 요일번호(0:Mon~)
* `dt.day_name()` : 요일명 full name (Monday, Tuesday, ...)
* `dt.day_name().str[:3]` : 요일명 약자 (Mon, Tue, ...)
* `dt.strftime('%A')` : 요일명 full name (Monday, Tuesday, ...)
* `dt.strftime('%a')`  : 요일명 약자 (Mon, Tue, ...)

In [ ]:
# ---------------------------------------
# 요일 컬럼 추가
#   day_name()
# ---------------------------------------

df_all['요일'] = df_all['기준일ID'].dt.day_name().str[:3]

In [13]:
df_all.head(3)

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,월,일,요일
0,2024-04-01,0,11440585,16690.3005,489.5882,241.8582,321.7900,354.3263,503.1719,615.9802,...,697.5542,790.7150,636.1098,619.3970,593.8115,441.4222,1172.2903,4,1,Mon
1,2024-04-01,0,11290640,17254.8326,265.4667,136.9782,936.3727,2108.2782,993.1308,489.6211,...,376.4850,365.5632,455.2348,540.8218,412.3597,282.3098,1102.3257,4,1,Mon
2,2024-04-01,0,11260590,24836.1736,575.5669,243.5089,341.0603,962.4267,1496.3834,1380.9687,...,831.8179,784.6880,769.7451,859.3055,761.8320,514.3764,1342.1258,4,1,Mon

### 시도명, 시군구명, 행정동명 추가

#### [참고] 법정동과 행정동          
    * 법정동과 행정동은 우리나라의 행정구역을 구분하는 두 가지 서로 다른 체계입니다.

---

* 법정동     
    * 법률로 지정된 공식 행정구역
    * 1914년 행정구역 통폐합 때 만들어져 현재까지 유지
    * 국토교통부에서 관리
    * 등기부등본, 신분증 등 모든 법적 문서의 주소 표기에 사용
    * 부동산 규제 등 법적 업무의 기준
    * 명칭 변동이 거의 없음

---

* 행정동
    * 행정 편의를 위해 설정된 관리 구역
    * 행정안전부에서 관리
    * 인구수와 행정 수요에 따라 수시로 조정 가능
    * **행정동 코드는 자주 변경되므로, 해당 데이터의 행정동 코드 기준 시점을 확인하여야 함.**
    * **생활인구 데이터는 데이터 일관성 유지를 위해 2016년 집계구, 행정동 코드를 사용하고 있음**
   
---
* 법정동과 행정동의 관계
    * 두 구역은 N:M 관계
    * 하나의 법정동이 여러 행정동으로 나뉠 수 있음
    * 여러 법정동이 하나의 행정동으로 통합될 수 있음
    * 일부 지역은 법정동과 행정동이 일치하기도 함
    * 예를 들어, 서울 중구의 경우 법정동은 87개지만 행정동은 17개만 존재
    * 반대로 송파구 잠실동(법정동)은 잠실본동, 잠실2동, 잠실3동, 잠실7동이라는 4개의 행정동으로 나뉨

#### 행정동코드 매핑정보 
* 행정구역코드정보 파일 다운로드
    *  https://data.seoul.go.kr/dataVisual/seoul/seoulLivingPopulation.do

In [14]:
# -----------------------------------------------
# 행정동코드와 행정동명 매핑을 위한 데이터프레임 생성
# -----------------------------------------------

file_path = 'data/LOCAL_PEOPLE_DONG/행정동코드_매핑정보_20241218.xlsx'

df_region = pd.read_excel(file_path, 
                          sheet_name='행정동코드', # 엑셀파일의 시트명
                          header = 0,             # 헤더(컬럼인덱스)
                          skiprows = [1],         # 불러오지 않을 행
                          usecols = [1,2,3,4],    # 사용할 컬럼
                          dtype = {'행자부행정동코드':'str'}) # 데이터타입
df_region.head()

   행자부행정동코드 시도명 시군구명 행정동명
0  11110530  서울  종로구  사직동
1  11110540  서울  종로구  삼청동
2  11110550  서울  종로구  부암동
3  11110560  서울  종로구  평창동
4  11110570  서울  종로구  무악동

In [15]:
# -----------------------------------------------
# 일관성을 위해 컬럼명 변경
# -----------------------------------------------

df_region.rename({'행자부행정동코드':'행정동코드'}, 
                 axis=1, 
                 inplace=True)

In [16]:
df_region.head()

      행정동코드 시도명 시군구명 행정동명
0  11110530  서울  종로구  사직동
1  11110540  서울  종로구  삼청동
2  11110550  서울  종로구  부암동
3  11110560  서울  종로구  평창동
4  11110570  서울  종로구  무악동

In [17]:
# -----------------------------------------------
# 시도명, 시군구명, 행정동명 추가
# -----------------------------------------------

df_all = pd.merge(df_all, df_region)
df_all.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,월,일,요일,시도명,시군구명,행정동명
0,2024-04-01,0,11440585,16690.3005,489.5882,241.8582,321.7900,354.3263,503.1719,615.9802,...,619.3970,593.8115,441.4222,1172.2903,4,1,Mon,서울,마포구,도화동
1,2024-04-01,0,11290640,17254.8326,265.4667,136.9782,936.3727,2108.2782,993.1308,489.6211,...,540.8218,412.3597,282.3098,1102.3257,4,1,Mon,서울,성북구,정릉3동
2,2024-04-01,0,11260590,24836.1736,575.5669,243.5089,341.0603,962.4267,1496.3834,1380.9687,...,859.3055,761.8320,514.3764,1342.1258,4,1,Mon,서울,중랑구,상봉2동
3,2024-04-01,0,11530540,26975.9704,677.5741,279.8057,332.3631,700.5115,1785.0252,1670.2933,...,823.7957,799.9066,553.7243,1267.0419,4,1,Mon,서울,구로구,구로3동
4,2024-04-01,0,11500540,49512.7524,1540.8540,551.2752,689.7894,1323.5019,2398.6313,2653.4434,...,1928.3318,1546.4568,1473.8741,3217.3606,4,1,Mon,서울,강서구,화곡1동

In [18]:
df_all.iloc[:,-3:].isnull().sum()

시도명     0
시군구명    0
행정동명    0
dtype: int64

### 행정동코드 자리수 맞추기
* 행정동 코드 길이를 10자리로 만들기
* geojson의 행정동코드 자리수와 맞추기 위함

In [19]:
df_all['행정동코드'].str.len()

0          8
1          8
2          8
3          8
4          8
          ..
3714235    8
3714236    8
3714237    8
3714238    8
3714239    8
Name: 행정동코드, Length: 3714240, dtype: int64

In [ ]:
# -----------------------------------------------
# 행정동코드의 길이를 10자리로 만들기
# -----------------------------------------------

df_all['행정동코드'] = df_all['행정동코드']+'00'

In [21]:
df_all['행정동코드'].str.len()

0          10
1          10
2          10
3          10
4          10
           ..
3714235    10
3714236    10
3714237    10
3714238    10
3714239    10
Name: 행정동코드, Length: 3714240, dtype: int64

### 컬럼명 정리

In [22]:
# -------------------------------------
# 컬럼명 확인 및 변경 계획
# -------------------------------------

df_all.columns

# 컬럼명 변경 계획 
# >>>>> 4번째 컬럼 ~ -5번째 컬럼의 '생활인구수' 제거
# >>>>> replace("생활인구수","")

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수',
       '월', '일', '요일', '시도명', '시군구명', '행정동명'],
      dtype='object')

In [ ]:
# -------------------------------------
# 변경할 컬럼명 만들기
#   - new_names
#       replace("생활인구수","") 
# -------------------------------------

new_names = df_all.columns[4:-4].str.replace("생활인구수","")
new_names

Index(['남자0세부터9세', '남자10세부터14세', '남자15세부터19세', '남자20세부터24세', '남자25세부터29세',
       '남자30세부터34세', '남자35세부터39세', '남자40세부터44세', '남자45세부터49세', '남자50세부터54세',
       '남자55세부터59세', '남자60세부터64세', '남자65세부터69세', '남자70세이상', '여자0세부터9세',
       '여자10세부터14세', '여자15세부터19세', '여자20세부터24세', '여자25세부터29세', '여자30세부터34세',
       '여자35세부터39세', '여자40세부터44세', '여자45세부터49세', '여자50세부터54세', '여자55세부터59세',
       '여자60세부터64세', '여자65세부터69세', '여자70세이상', '월', '일'],
      dtype='object')

In [24]:
# -------------------------------------
# 컬럼명 변경
# -------------------------------------

df_all.columns = \
    list(df_all.columns[:4]) + list(new_names) + list(df_all.columns[-4:])

In [25]:
df_all.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세,남자10세부터14세,남자15세부터19세,남자20세부터24세,남자25세부터29세,남자30세부터34세,...,여자55세부터59세,여자60세부터64세,여자65세부터69세,여자70세이상,월,일,요일,시도명,시군구명,행정동명
0,2024-04-01,0,1144058500,16690.3005,489.5882,241.8582,321.7900,354.3263,503.1719,615.9802,...,619.3970,593.8115,441.4222,1172.2903,4,1,Mon,서울,마포구,도화동
1,2024-04-01,0,1129064000,17254.8326,265.4667,136.9782,936.3727,2108.2782,993.1308,489.6211,...,540.8218,412.3597,282.3098,1102.3257,4,1,Mon,서울,성북구,정릉3동
2,2024-04-01,0,1126059000,24836.1736,575.5669,243.5089,341.0603,962.4267,1496.3834,1380.9687,...,859.3055,761.8320,514.3764,1342.1258,4,1,Mon,서울,중랑구,상봉2동
3,2024-04-01,0,1153054000,26975.9704,677.5741,279.8057,332.3631,700.5115,1785.0252,1670.2933,...,823.7957,799.9066,553.7243,1267.0419,4,1,Mon,서울,구로구,구로3동
4,2024-04-01,0,1150054000,49512.7524,1540.8540,551.2752,689.7894,1323.5019,2398.6313,2653.4434,...,1928.3318,1546.4568,1473.8741,3217.3606,4,1,Mon,서울,강서구,화곡1동

### 컬럼 순서 정리

In [26]:
print(df_all.columns)

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세', '남자10세부터14세',
       '남자15세부터19세', '남자20세부터24세', '남자25세부터29세', '남자30세부터34세', '남자35세부터39세',
       '남자40세부터44세', '남자45세부터49세', '남자50세부터54세', '남자55세부터59세', '남자60세부터64세',
       '남자65세부터69세', '남자70세이상', '여자0세부터9세', '여자10세부터14세', '여자15세부터19세',
       '여자20세부터24세', '여자25세부터29세', '여자30세부터34세', '여자35세부터39세', '여자40세부터44세',
       '여자45세부터49세', '여자50세부터54세', '여자55세부터59세', '여자60세부터64세', '여자65세부터69세',
       '여자70세이상', '월', '일', '요일', '시도명', '시군구명', '행정동명'],
      dtype='object')

In [27]:
cols = ['기준일ID', '월', '일','요일', '시간대구분', '행정동코드', '시도명', '시군구명', '행정동명'\
        , '총생활인구수', '남자0세부터9세', '남자10세부터14세'
        , '남자15세부터19세', '남자20세부터24세', '남자25세부터29세', '남자30세부터34세', '남자35세부터39세'\
        , '남자40세부터44세', '남자45세부터49세', '남자50세부터54세', '남자55세부터59세', '남자60세부터64세'\
        , '남자65세부터69세', '남자70세이상', '여자0세부터9세', '여자10세부터14세', '여자15세부터19세'\
        , '여자20세부터24세', '여자25세부터29세', '여자30세부터34세', '여자35세부터39세', '여자40세부터44세'\
        , '여자45세부터49세', '여자50세부터54세', '여자55세부터59세', '여자60세부터64세', '여자65세부터69세'\
        , '여자70세이상']

In [28]:
df_all = df_all[cols]

In [29]:
df_all.head()

,기준일ID,월,일,요일,시간대구분,행정동코드,시도명,시군구명,행정동명,총생활인구수,...,여자25세부터29세,여자30세부터34세,여자35세부터39세,여자40세부터44세,여자45세부터49세,여자50세부터54세,여자55세부터59세,여자60세부터64세,여자65세부터69세,여자70세이상
0,2024-04-01,4,1,Mon,0,1144058500,서울,마포구,도화동,16690.3005,...,750.5231,790.1085,839.8785,697.5542,790.7150,636.1098,619.3970,593.8115,441.4222,1172.2903
1,2024-04-01,4,1,Mon,0,1129064000,서울,성북구,정릉3동,17254.8326,...,732.8108,488.7919,414.1525,376.4850,365.5632,455.2348,540.8218,412.3597,282.3098,1102.3257
2,2024-04-01,4,1,Mon,0,1126059000,서울,중랑구,상봉2동,24836.1736,...,2043.5564,1615.6401,1424.6506,831.8179,784.6880,769.7451,859.3055,761.8320,514.3764,1342.1258
3,2024-04-01,4,1,Mon,0,1153054000,서울,구로구,구로3동,26975.9704,...,1510.6376,1321.0909,1352.3565,1060.4784,1042.7210,782.7908,823.7957,799.9066,553.7243,1267.0419
4,2024-04-01,4,1,Mon,0,1150054000,서울,강서구,화곡1동,49512.7524,...,3170.3796,2592.4259,2458.9594,1956.3342,1870.8576,1692.5864,1928.3318,1546.4568,1473.8741,3217.3606

### 파일로 다운로드
* 전처리 완료된 데이터프레임을 csv파일로 다운로드

In [30]:
# ------------------
# 파일로 다운로드
# ------------------
file_path = 'data/LOCAL_PEOPLE_DONG/preprocessed_LOCAL_PEOPLE_DONG_all.csv'

df_all.to_csv(file_path,
              index = False)

In [31]:
# ------------------
# 확인
# ------------------
pd.read_csv(file_path)

,기준일ID,월,일,요일,시간대구분,행정동코드,시도명,시군구명,행정동명,총생활인구수,...,여자25세부터29세,여자30세부터34세,여자35세부터39세,여자40세부터44세,여자45세부터49세,여자50세부터54세,여자55세부터59세,여자60세부터64세,여자65세부터69세,여자70세이상
0,2024-04-01,4,1,Mon,0,1144058500,서울,마포구,도화동,16690.3005,...,750.5231,790.1085,839.8785,697.5542,790.7150,636.1098,619.3970,593.8115,441.4222,1172.2903
1,2024-04-01,4,1,Mon,0,1129064000,서울,성북구,정릉3동,17254.8326,...,732.8108,488.7919,414.1525,376.4850,365.5632,455.2348,540.8218,412.3597,282.3098,1102.3257
2,2024-04-01,4,1,Mon,0,1126059000,서울,중랑구,상봉2동,24836.1736,...,2043.5564,1615.6401,1424.6506,831.8179,784.6880,769.7451,859.3055,761.8320,514.3764,1342.1258
3,2024-04-01,4,1,Mon,0,1153054000,서울,구로구,구로3동,26975.9704,...,1510.6376,1321.0909,1352.3565,1060.4784,1042.7210,782.7908,823.7957,799.9066,553.7243,1267.0419
4,2024-04-01,4,1,Mon,0,1150054000,서울,강서구,화곡1동,49512.7524,...,3170.3796,2592.4259,2458.9594,1956.3342,1870.8576,1692.5864,1928.3318,1546.4568,1473.8741,3217.3606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714235,2025-03-31,3,31,Mon,23,1126069000,서울,중랑구,신내2동,15969.4292,...,469.8132,508.6383,708.5668,656.3241,653.1125,602.4664,794.4989,702.7255,514.0592,1310.8696
3714236,2025-03-31,3,31,Mon,23,1120053500,서울,성동구,왕십리도선동,31644.0971,...,1678.0251,1516.7660,1704.5064,1440.1012,1247.8767,1079.9946,1273.9977,957.8658,670.4120,1852.5813
3714237,2025-03-31,3,31,Mon,23,1129081000,서울,성북구,석관동,28737.1532,...,1284.3664,1042.8606,1209.4969,902.2446,1048.1759,1180.0512,1137.0487,1050.4364,838.7798,2406.9983
3714238,2025-03-31,3,31,Mon,23,1129063000,서울,성북구,정릉2동,20935.8562,...,688.4542,681.9016,1000.2332,834.1445,985.4489,791.2047,941.4934,700.7734,573.4601,1373.8368
3714239,2025-03-31,3,31,Mon,23,1123075000,서울,동대문구,이문2동,15365.4322,...,632.7856,481.4357,605.5899,603.3241,670.8108,652.0026,587.7955,456.9211,385.6993,1199.1022